/* line 3, ../sass/admin.scss */
td.column-version {
  width: 5em;
}

/* line 7, ../sass/admin.scss */
.pronamic-pay-status-table tbody th:first-child {
  width: 20%;
}

/**
 * Dashboard
 *
 * @see https://github.com/woothemes/woocommerce/blob/2.3.13/assets/css/dashboard.scss#L51-L173
 */
/* line 16, ../sass/admin.scss */
#pronamic_pay_dashboard_status .inside {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/admin.scss */
.pronamic-pay-status-list {
  overflow: hidden;
  margin: 0;
}
/* line 26, ../sass/admin.scss */
.pronamic-pay-status-list li {
  border-top: 1px solid #ECECEC;
  box-sizing: border-box;
  color: #AAA;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
/* line 40, ../sass/admin.scss */
.pronamic-pay-status-list li a {
  display: block;
  color: #aaa;
  padding: 9px 12px;
  -webkit-transition: all ease .5s;
  position: relative;
  font-size: 12px;
}
/* line 48, ../sass/admin.scss */
.pronamic-pay-status-list li a strong {
  color: #21759b;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}
/* line 59, ../sass/admin.scss */
.pronamic-pay-status-list li a:hover {
  color: #2ea2cc;
}
/* line 62, ../sass/admin.scss */
.pronamic-pay-status-list li a:hover:before,
.pronamic-pay-status-list li a:hover strong {
  color: #2ea2cc;
}
/* line 70, ../sass/admin.scss */
.pronamic-pay-status-list li:first-child {
  border-top: none;
  width: 100%;
}
/* line 76, ../sass/admin.scss */
.pronamic-pay-status-list li:nth-child(even) {
  border-right: 1px solid #ECECEC;
}

/**
 * Gateway config postbox
 */
/* line 85, ../sass/admin.scss */
#pronamic_gateway_config option.deprecated {
  color: #AAA;
}
/* line 90, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header h4 {
  margin: 0;
}
/* line 94, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header p {
  display: block;
  background: #dedede;
  font-weight: bold;
  margin: 40px 0 0 0;
  padding: 10px 15px;
}
/* line 103, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header p a {
  color: #ffffff;
}

/**
 * Gateway test postbox
 */
/* line 114, ../sass/admin.scss */
#pronamic_gateway_test .inside > label,
#pronamic_gateway_test .inside div label {
  display: block;
}
/* line 119, ../sass/admin.scss */
#pronamic_gateway_test select {
  margin-bottom: 1em;
}
/* line 123, ../sass/admin.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method {
  display: none;
}

/**
 * Payment log postbox
 */
/* line 131, ../sass/admin.scss */
#pronamic_payment_log.postbox .inside {
  margin: 0;
  padding: 0;
}

/* line 136, ../sass/admin.scss */
#pronamic_payment_log .comments-box {
  border: 0 none;
}

/**
 * Post type payment
 */
/* line 144, ../sass/admin.scss */
body.post-type-pronamic_payment #post-body-content {
  display: none;
}

/**
 * Input shortcode
 */
/* line 152, ../sass/admin.scss */
.pronamic-pay-shortcode-input {
  width: 100%;
}

/**
 * Meta box payment update
 */
/* line 159, ../sass/admin.scss */
#pronamic_payment_update .inside {
  margin: 0;
  padding: 0;
}

/* line 164, ../sass/admin.scss */
.pronamic-pay-inner {
  margin: 6px 0 0 0;
  padding: 0 12px 12px;
}

/* line 169, ../sass/admin.scss */
.pronamic-pay-major-actions {
  background: #F5F5F5;
  border-top: 1px solid #DDD;
  padding: 10px;
}

/* line 177, ../sass/admin.scss */
.pronamic-pay-action {
  float: right;
  text-align: right;
}

/**
 * iDEAL
 */
/* line 186, ../sass/admin.scss */
pre.security-data {
  background-color: #EEE;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #DFDFDF;
  height: 10em;
  width: 40em;
  overflow: auto;
}

/**
 * Documentation
 */
/* line 201, ../sass/admin.scss */
.pronamic-pay-table tr.deprecated td,
.pronamic-pay-table tr.deprecated a {
  color: #AAAAAA;
}

/**
 * Charts
 */
/* line 209, ../sass/admin.scss */
.postbox .pronamic-pay-chart-with-sidebar {
  padding: 12px 12px 12px 249px;
}

/* line 215, ../sass/admin.scss */
.pronamic-pay-chart-sidebar {
  float: left;
  margin-left: -237px;
  width: 225px;
}

/* line 223, ../sass/admin.scss */
.pronamci-pay-chart-legend {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  border: 1px solid #dfdfdf;
  border-right-width: 0;
  border-bottom-width: 0;
  background: #FFF;
}

/* line 236, ../sass/admin.scss */
.pronamci-pay-chart-legend li {
  border-right: 5px solid #AAA;
  box-shadow: inset 0 -1px 0 0 #dfdfdf;
  color: #AAA;
  display: block;
  padding: 1em;
  margin: 0;
  transition: all ease .5s;
}

/* line 251, ../sass/admin.scss */
.pronamci-pay-chart-legend li:hover {
  box-shadow: inset 0 -1px 0 0 #DFDFDF, inset 300px 0 0 rgba(35, 40, 47, 0.1);
  border-right: 5px solid #23282F !important;
  padding-left: 1.5em;
}

/* line 259, ../sass/admin.scss */
.pronamci-pay-chart-legend strong {
  color: #464646;
  display: block;
  font-size: 1.618em;
  line-height: 1.2em;
  font-weight: 400;
}

/* line 271, ../sass/admin.scss */
.pronamic-pay-chart-tooltip {
  background: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  padding: .618em 1em;
  position: absolute;
  text-align: center;
}

/**
 * Error
 */
/* line 294, ../sass/admin.scss */
.pronamic-pay-error {
  background: #F9F9F9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  border-left: 4px solid #a00;
  clear: both;
  margin: 15px 0;
  position: relative;
  padding: 1em 1em 1em 2em;
}

/* line 310, ../sass/admin.scss */
#_pronamic_gateway_ideal_private_key,
#_pronamic_gateway_ideal_private_certificate {
  width: 100%;
}

/* Tabs */
/* line 316, ../sass/admin.scss */
.pronamic-pay-tabs-items {
  display: block;
  margin: 0;
}
/* line 321, ../sass/admin.scss */
.pronamic-pay-tabs-items li {
  float: left;
  display: inline-block;
  margin: 8px 5px 0 0;
  padding: 7px 15px;
  color: #555555;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #cacaca;
  cursor: pointer;
}
/* line 338, ../sass/admin.scss */
.pronamic-pay-tabs-items li.active {
  margin-top: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #ffffff;
  background: #cc0066;
}

/* line 350, ../sass/admin.scss */
div.extra-settings {
  display: none;
}
/* line 353, ../sass/admin.scss */
div.extra-settings .gateway-config-section-header h4,
div.extra-settings .show-provider {
  display: none;
}
/* line 358, ../sass/admin.scss */
div.extra-settings .form-table {
  margin-top: 0;
  border: 1px solid #efefef;
}
/* line 363, ../sass/admin.scss */
div.extra-settings .form-table tr.even {
  background: #fafafa;
}
/* line 367, ../sass/admin.scss */
div.extra-settings .form-table th {
  padding-left: 10px;
}
/* line 372, ../sass/admin.scss */
div.extra-settings .input-file-wrapper {
  position: relative;
  overflow: hidden;
}
/* line 377, ../sass/admin.scss */
div.extra-settings .input-file-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 50px;
  cursor: pointer;
}
/* line 389, ../sass/admin.scss */
div.extra-settings p + input.button,
div.extra-settings .pk-cert-ok input.button,
div.extra-settings input.large-text.code + input.button {
  margin-top: 10px;
}
/* line 394, ../sass/admin.scss */
div.extra-settings p + input.button + div.button,
div.extra-settings .pk-cert-ok input.button + div.button,
div.extra-settings input.large-text.code + input.button + div.button {
  margin-top: 10px;
}
/* line 399, ../sass/admin.scss */
div.extra-settings input + span.description {
  display: block;
  line-height: 1.9;
  margin-top: 10px;
}

/* line 406, ../sass/admin.scss */
#pk-cert-fields-toggle {
  display: inline-block;
  margin: 1em;
}

/* line 411, ../sass/admin.scss */
#_pronamic_gateway_country + span.description {
  display: inline;
  margin-left: 10px;
}

/* Hide download buttons for new configuration */
/* line 418, ../sass/admin.scss */
body.post-new-php div.extra-settings input[name="download_private_key"],
body.post-new-php div.extra-settings input[name="download_private_certificate"] {
  display: none;
}
/* line 423, ../sass/admin.scss */
body.post-new-php div.extra-settings .pk-cert-error > span {
  display: none;
}

/* line 428, ../sass/admin.scss */
.pronamic-pay-tip {
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  color: #777777;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  cursor: help;
  background: #cccccc;
  border-radius: 10px;
}

/* line 451, ../sass/admin.scss */
#pronamic-pay-gateway-description {
  margin-top: 10px;
  font-size: .9em;
}

/* line 456, ../sass/admin.scss */
#debug-selected-method {
  float: none;
}

/* line 461, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons {
  vertical-align: text-bottom;
}
/* line 464, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-yes {
  color: green;
}
/* line 468, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-no {
  color: red;
}
/* line 472, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-maybe {
  color: orange;
}

@media only screen and (max-width: 960px) {
  /* line 479, ../sass/admin.scss */
  .pronamic-pay-tabs-items {
    display: none;
  }

  /* line 483, ../sass/admin.scss */
  div.extra-settings .form-table {
    border: none;
  }
}
@media only screen and (max-width: 782px) {
  /* line 490, ../sass/admin.scss */
  div.extra-settings .form-table th, div.extra-settings .form-table td {
    padding: 11px;
  }
}
