@charset "UTF-8";
/* Icons */
/* line 5, ../sass/admin/_chart.scss */
.postbox .pronamic-pay-chart-with-sidebar {
  padding: 12px 12px 12px 249px;
}

/* line 10, ../sass/admin/_chart.scss */
.pronamic-pay-chart-sidebar {
  float: left;
  margin-left: -237px;
  width: 225px;
}

/* line 18, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend {
  background: #fff;
  border: 1px solid #dfdfdf;
  border-right-width: 0;
  border-bottom-width: 0;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
/* line 30, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend li {
  border-right: 5px solid #aaa;
  box-shadow: inset 0 -1px 0 0 #dfdfdf;
  color: #aaa;
  display: block;
  margin: 0;
  padding: 1em;
  transition: all ease .5s;
}
/* line 44, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend li:hover {
  border-right: 5px solid #23282f !important;
  box-shadow: inset 0 -1px 0 0 #dfdfdf, inset 300px 0 0 rgba(35, 40, 47, 0.1);
  padding-left: 1.5em;
}
/* line 53, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend strong {
  color: #464646;
  display: block;
  font-size: 1.618em;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 65, ../sass/admin/_chart.scss */
.pronamic-pay-chart-tooltip {
  background: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  padding: .618em 1em;
  position: absolute;
  text-align: center;
}

/* line 7, ../sass/admin/_code.scss */
pre.security-data {
  background-color: #eee;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: auto;
  width: 40em;
  height: 10em;
}

/* line 5, ../sass/admin/_dashboard-widget-payments.scss */
.postbox .inside .pronamic-pay-status-widget {
  margin: -12px;
}

/* line 11, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 16, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li {
  box-sizing: border-box;
  border-top: 1px solid #eee;
  color: #aaa;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}
/* line 30, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a {
  color: #aaa;
  display: block;
  font-size: 12px;
  padding: 9px 12px;
  position: relative;
  transition: color ease .5s;
}
/* line 43, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a strong {
  color: #21759b;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}
/* line 54, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a:hover {
  color: #2ea2cc;
}
/* line 57, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a:hover::before,
.pronamic-pay-status-list li a:hover strong {
  color: #2ea2cc;
}
/* line 64, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li:first-child {
  border-top: 0;
  width: 100%;
}
/* line 70, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li:nth-child(even) {
  border-right: 1px solid #eee;
}

/* line 5, ../sass/admin/_edit-form-post.scss */
body.post-type-pronamic_payment #post-body-content, body.post-type-pronamic_pay_subscr #post-body-content {
  margin-bottom: 0;
}

/* line 1, ../sass/admin/_forms.scss */
.pronamic-pay-form-control-lg {
  width: 100%;
}

/* line 6, ../sass/admin/_forms.scss */
.pronamic-pay-shortcode-input {
  width: 100%;
}

/* line 13, ../sass/admin/_forms.scss */
.pronamic-pay-form-control-file-button [type='file'] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

/* line 1, ../sass/admin/_icons.scss */
.pronamic-pay-icon {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 1em;
  height: 1em;
}
/* line 11, ../sass/admin/_icons.scss */
.pronamic-pay-icon::after {
  content: "";
  display: block;
  font-family: 'Pronamic Pay Icons';
  position: absolute;
  top: 0;
  left: 0;
  speak: none;
  text-indent: 0;
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/admin/_icons.scss */
.pronamic-pay-icon-pending::after {
  color: #ffba00;
  content: "";
}

/* line 39, ../sass/admin/_icons.scss */
.pronamic-pay-icon-cancelled::after {
  color: #a00;
  content: "";
}

/* line 46, ../sass/admin/_icons.scss */
.pronamic-pay-icon-processing::after {
  color: #73a724;
  content: "";
}

/* line 53, ../sass/admin/_icons.scss */
.pronamic-pay-icon-completed::after {
  color: #2ea2cc;
  content: "";
}

/* line 60, ../sass/admin/_icons.scss */
.pronamic-pay-icon-refunded::after {
  color: #999;
  content: "";
}

/* line 67, ../sass/admin/_icons.scss */
.pronamic-pay-icon-failed::after {
  color: #d0c21f;
  content: "";
}

/* line 74, ../sass/admin/_icons.scss */
.pronamic-pay-icon-on-hold::after {
  color: #999;
  content: "";
}

/* line 81, ../sass/admin/_icons.scss */
.pronamic-pay-icon-recurring::after {
  color: #999;
  content: "";
}

/* line 88, ../sass/admin/_icons.scss */
.pronamic-pay-icon-recurring-first::after {
  color: #2ea2cc;
  content: "";
}

/* line 4, ../sass/admin/_meta-box-gateway-config.scss */
#pronamic-pay-gateway-config-editor .dashicons {
  vertical-align: text-bottom;
}
/* line 7, ../sass/admin/_meta-box-gateway-config.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-yes {
  color: #008000;
}
/* line 11, ../sass/admin/_meta-box-gateway-config.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-no {
  color: #f00;
}
/* line 15, ../sass/admin/_meta-box-gateway-config.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-warning {
  color: #ffa500;
}

/* line 22, ../sass/admin/_meta-box-gateway-config.scss */
.gateway-config-section-header h4 {
  margin: 0;
}
/* line 26, ../sass/admin/_meta-box-gateway-config.scss */
.gateway-config-section-header p {
  margin: 0 0 1em;
}
/* line 29, ../sass/admin/_meta-box-gateway-config.scss */
.gateway-config-section-header p:last-child {
  margin-bottom: 0;
}

/* line 3, ../sass/admin/_meta-box-gateway-test.scss */
#pronamic_gateway_test .inside > label,
#pronamic_gateway_test .inside div label {
  display: block;
}
/* line 8, ../sass/admin/_meta-box-gateway-test.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method td label {
  display: none;
}
/* line 12, ../sass/admin/_meta-box-gateway-test.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method {
  display: none;
}

/* line 4, ../sass/admin/_meta-box-payment-log.scss */
#pronamic_payment_log.postbox .inside {
  margin: 0;
  padding: 0;
}
/* line 10, ../sass/admin/_meta-box-payment-log.scss */
#pronamic_payment_log .comments-box {
  border: 0 none;
}

/* line 4, ../sass/admin/_meta-box-update.scss */
#pronamic_payment_update .inside,
#pronamic_subscription_update .inside {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/admin/_meta-box-update.scss */
.pronamic-pay-inner {
  margin: 6px 0 0;
  padding: 0 12px 12px;
}

/* line 15, ../sass/admin/_meta-box-update.scss */
.pronamic-pay-major-actions {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 10px;
}

/* line 23, ../sass/admin/_meta-box-update.scss */
.pronamic-pay-action {
  float: right;
  text-align: right;
}

/* line 3, ../sass/admin/_settings.scss */
.pronamic-pay-settings select {
  width: 25em;
}

/* line 3, ../sass/admin/_tables.scss */
.pronamic-pay-table thead th {
  font-weight: bold;
}
/* line 9, ../sass/admin/_tables.scss */
.pronamic-pay-table .deprecated td,
.pronamic-pay-table .deprecated a {
  color: #aaa;
}

/* line 17, ../sass/admin/_tables.scss */
.pronamic-pay-status-table {
  margin-top: 2em;
}
/* line 22, ../sass/admin/_tables.scss */
.pronamic-pay-status-table tbody th:first-child {
  width: 20%;
}

/* line 31, ../sass/admin/_tables.scss */
.pronamic-pay-subscriptions-table {
  border-spacing: 0;
  clear: both;
  margin: 0;
  width: 100%;
}
/* line 41, ../sass/admin/_tables.scss */
.pronamic-pay-subscriptions-table thead th {
  border-bottom: 1px solid #e1e1e1;
}
/* line 46, ../sass/admin/_tables.scss */
.pronamic-pay-subscriptions-table th,
.pronamic-pay-subscriptions-table td {
  padding: 8px 10px;
}
/* line 51, ../sass/admin/_tables.scss */
.pronamic-pay-subscriptions-table th {
  text-align: left;
}

/* line 59, ../sass/admin/_tables.scss */
.widefat .column-pronamic_payment_status,
.widefat .column-pronamic_subscription_status,
.widefat .column-pronamic_payment_subscription {
  width: 1em;
}

/* line 2, ../sass/admin/_tabs.scss */
.pronamic-pay-tabs-items {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  float: left;
  margin: 3px 0 0;
  width: 100%;
}
/* line 13, ../sass/admin/_tabs.scss */
.pronamic-pay-tabs-items li {
  background: #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 5px -1px 0;
  padding: 8px 15px;
}
/* line 28, ../sass/admin/_tabs.scss */
.pronamic-pay-tabs-items li.active {
  background: #fff;
  border-top: 3px solid #008ec2;
  margin-top: -3px;
}

@media only screen and (max-width: 960px) {
  /* line 39, ../sass/admin/_tabs.scss */
  .pronamic-pay-tabs-items {
    display: none;
  }

  /* line 43, ../sass/admin/_tabs.scss */
  .pronamic-pay-tab {
    border: 0;
  }
  /* line 46, ../sass/admin/_tabs.scss */
  .pronamic-pay-tab .form-table {
    border: 0;
  }
}
@media only screen and (max-width: 782px) {
  /* line 55, ../sass/admin/_tabs.scss */
  .pronamic-pay-tab .form-table th,
  .pronamic-pay-tab .form-table td {
    padding: 11px;
  }
}
/* line 1, ../sass/admin/_tip.scss */
.pronamic-pay-tip {
  color: #777;
  cursor: help;
  float: right;
}

/* line 10, ../sass/admin/_tip.scss */
#tiptip_content {
  background: #333;
  border: 0;
  box-shadow: none;
}

/* line 21, ../sass/admin.scss */
div.extra-settings {
  border: 1px solid #e5e5e5;
  border-top: 0;
  clear: both;
  display: none;
}
/* line 29, ../sass/admin.scss */
div.extra-settings > div {
  font-style: italic;
  padding: 20px 10px;
}
/* line 35, ../sass/admin.scss */
div.extra-settings .gateway-config-section-header h4,
div.extra-settings .show-provider {
  display: none;
}
/* line 40, ../sass/admin.scss */
div.extra-settings .form-table {
  margin-top: 0;
}
/* line 43, ../sass/admin.scss */
div.extra-settings .form-table tr.even {
  background: #f9f9f9;
}
/* line 47, ../sass/admin.scss */
div.extra-settings .form-table th {
  padding-left: 10px;
}
/* line 52, ../sass/admin.scss */
div.extra-settings .form-table td p {
  line-height: inherit;
}
/* line 55, ../sass/admin.scss */
div.extra-settings .form-table td p:first-child {
  margin-top: 5px;
}
/* line 62, ../sass/admin.scss */
div.extra-settings p + input.button,
div.extra-settings .pk-cert-ok input.button,
div.extra-settings input.large-text.code + input.button {
  margin-top: 10px;
}
/* line 67, ../sass/admin.scss */
div.extra-settings p + input.button + div.button,
div.extra-settings .pk-cert-ok input.button + div.button,
div.extra-settings input.large-text.code + input.button + div.button {
  margin-top: 10px;
}

/* line 73, ../sass/admin.scss */
#pk-cert-fields-toggle {
  display: inline-block;
  margin: 1em;
}

/* line 81, ../sass/admin.scss */
body.post-new-php div.extra-settings .pk-cert-error > span {
  display: none;
}
