@charset "UTF-8";
/* Icons */
.pronamic-pay-btn-link {
  line-height: 26px;
  padding: 0 10px 1px;
}

.postbox .pronamic-pay-chart-with-sidebar {
  padding: 12px 12px 12px 249px;
}

.pronamic-pay-chart-sidebar {
  float: left;
  margin-left: -237px;
  width: 225px;
}

.pronamci-pay-chart-legend {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-right-width: 0;
  border-bottom-width: 0;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.pronamci-pay-chart-legend li {
  border-right: 5px solid #aaa;
  -webkit-box-shadow: inset 0 -1px 0 0 #e5e5e5;
          box-shadow: inset 0 -1px 0 0 #e5e5e5;
  color: #aaa;
  display: block;
  margin: 0;
  padding: 1em;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: border, padding, -webkit-box-shadow;
  transition-property: border, padding, -webkit-box-shadow;
  transition-property: border, box-shadow, padding;
  transition-property: border, box-shadow, padding, -webkit-box-shadow;
}
.pronamci-pay-chart-legend li.completed-count {
  border-right-color: #dbe1e3;
}
.pronamci-pay-chart-legend li.pending-sum {
  border-right-color: #b1d4ea;
}
.pronamci-pay-chart-legend li.completed-sum {
  border-right-color: #3498db;
}
.pronamci-pay-chart-legend li.cancelled-sum {
  border-right-color: #f1c40f;
}
.pronamci-pay-chart-legend li.expired-sum {
  border-right-color: #dbe1e3;
}
.pronamci-pay-chart-legend li.failed-sum {
  border-right-color: #e74c3c;
}
.pronamci-pay-chart-legend li:hover {
  border-right-color: #23282f;
  -webkit-box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 300px 0 0 #f9f9f9;
          box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 300px 0 0 #f9f9f9;
  padding-left: 1.5em;
}
.pronamci-pay-chart-legend strong {
  color: #444;
  display: block;
  font-size: 1.618em;
  font-weight: 400;
  line-height: 1.2em;
}

.pronamic-pay-chart-tooltip {
  background: #333;
  border-radius: 3px;
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  padding: .618em 1em;
  position: absolute;
  text-align: center;
}

.postbox .inside .pronamic-pay-status-widget {
  margin: -12px;
}

.pronamic-pay-status-list {
  margin-bottom: 0;
  overflow: hidden;
}
.pronamic-pay-status-list li {
  border-top: 1px solid #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #aaa;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}
.pronamic-pay-status-list li a {
  color: #aaa;
  display: block;
  font-size: 12px;
  padding: 9px 12px;
  position: relative;
  -webkit-transition: color ease .5s;
  transition: color ease .5s;
}
.pronamic-pay-status-list li a strong {
  color: #0073aa;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}
.pronamic-pay-status-list li a:hover {
  color: #00a0d2;
}
.pronamic-pay-status-list li a:hover::before,
.pronamic-pay-status-list li a:hover strong {
  color: #00a0d2;
}
.pronamic-pay-status-list li:first-child {
  border-top: 0;
  width: 100%;
}
.pronamic-pay-status-list li:nth-child(even) {
  border-right: 1px solid #eee;
}

body.post-type-pronamic_payment #post-body-content, body.post-type-pronamic_pay_subscr #post-body-content {
  margin-bottom: 0;
}

.pronamic-pay-form-control-lg {
  width: 100%;
}

.pronamic-pay-shortcode-input {
  width: 100%;
}

.pronamic-pay-form-control-file-button [type='file'] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.pronamic-pay-icon {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 1em;
  height: 1em;
}
.pronamic-pay-icon::after {
  content: "";
  display: block;
  font-family: 'Pronamic Pay Icons';
  position: absolute;
  top: 0;
  left: 0;
  speak: none;
  text-indent: 0;
  width: 100%;
  height: 100%;
}

.pronamic-pay-icon-pending::after {
  color: #ffba00;
  content: "";
}

.pronamic-pay-icon-cancelled::after {
  color: #a00;
  content: "";
}

.pronamic-pay-icon-processing::after {
  color: #73a724;
  content: "";
}

.pronamic-pay-icon-completed::after {
  color: #2ea2cc;
  content: "";
}

.pronamic-pay-icon-refunded::after {
  color: #999;
  content: "";
}

.pronamic-pay-icon-failed::after {
  color: #d0c21f;
  content: "";
}

.pronamic-pay-icon-on-hold::after {
  color: #999;
  content: "";
}

.pronamic-pay-icon-recurring::after {
  color: #999;
  content: "";
}

.pronamic-pay-icon-recurring-first::after {
  color: #2ea2cc;
  content: "";
}

#pronamic-pay-gateway-config-editor .dashicons.dashicons-yes {
  color: #008000;
}
#pronamic-pay-gateway-config-editor .dashicons.dashicons-no {
  color: #f00;
}
#pronamic-pay-gateway-config-editor .dashicons.dashicons-warning {
  color: #ffa500;
}

.gateway-config-section-header h4 {
  margin: 0;
}
.gateway-config-section-header p {
  margin: 0 0 1em;
}
.gateway-config-section-header p:last-child {
  margin-bottom: 0;
}

.pronamic-pay-test-payment-method td label {
  display: none;
}

#pronamic_payment_log.postbox .inside {
  margin: 0;
  padding: 0;
}
#pronamic_payment_log .comments-box {
  border: 0 none;
}

#pronamic_payment_update .inside,
#pronamic_subscription_update .inside {
  margin: 0;
  padding: 0;
}

.pronamic-pay-inner {
  margin: 6px 0 0;
  padding: 0 12px 12px;
}

.pronamic-pay-major-actions {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.pronamic-pay-action {
  float: right;
  text-align: right;
}

.pronamic-pay-settings select {
  width: 25em;
}

.pronamic-pay-table thead th {
  font-weight: bold;
}
.pronamic-pay-table .deprecated td,
.pronamic-pay-table .deprecated a {
  color: #aaa;
}
.pronamic-pay-table td p {
  margin: 0 0 1em;
}
.pronamic-pay-table td p:last-child {
  margin-bottom: 0;
}

.postbox .pronamic-pay-table {
  border: 0;
}

.pronamic-pay-table-striped tbody tr:nth-of-type(odd) {
  background: #f9f9f9;
}

.form-table .even {
  background: #f9f9f9;
}

#pronamic_payment .form-table td a {
  display: inline-block;
  overflow: hidden;
  width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pronamic-pay-status-table {
  margin-top: 2em;
}
.pronamic-pay-status-table tbody th:first-child {
  width: 20%;
}

.widefat .column-pronamic_payment_status,
.widefat .column-pronamic_subscription_status,
.widefat .column-pronamic_payment_subscription {
  width: 1em;
}

.pronamic-pay-tabs-items {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  float: left;
  margin: 3px 0 0;
  width: 100%;
}
.pronamic-pay-tabs-items li {
  background: #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 5px -1px 0;
  padding: 8px 15px;
}
.pronamic-pay-tabs-items li.active {
  background: #fff;
  border-top: 3px solid #008ec2;
  margin-top: -3px;
}

.pronamic-pay-tab {
  border: 1px solid #e5e5e5;
  border-top: 0;
  clear: both;
}
.pronamic-pay-tab .form-table {
  margin-top: 0;
}
.pronamic-pay-tab .form-table th {
  padding-left: 10px;
}

.pronamic-pay-tab-block {
  padding: 15px 10px;
}

@media only screen and (max-width: 960px) {
  .pronamic-pay-tabs-items {
    display: none;
  }

  .pronamic-pay-tab {
    border: 0;
  }
  .pronamic-pay-tab .form-table {
    border: 0;
  }
}
@media only screen and (max-width: 782px) {
  .pronamic-pay-tab .form-table th,
  .pronamic-pay-tab .form-table td {
    padding: 11px;
  }
}
.pronamic-pay-tip {
  color: #777;
  cursor: help;
  float: right;
}

.pronamic-pay-cloack {
  display: none;
}
