/* line 1, ../sass/admin.scss */
td.column-version {
  width: 5em;
}

/* line 5, ../sass/admin.scss */
.pronamic-pay-status-table tbody th:first-child {
  width: 20%;
}

/**
 * Gateway config postbox
 */
/* line 12, ../sass/admin.scss */
#pronamic_gateway_config option.deprecated {
  color: #AAA;
}

/**
 * Payment log postbox
 */
/* line 19, ../sass/admin.scss */
#pronamic_payment_log.postbox .inside {
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/admin.scss */
#pronamic_payment_log .comments-box {
  border: 0 none;
}

/**
 * Post type payment
 */
/* line 32, ../sass/admin.scss */
body.post-type-pronamic_payment #post-body-content {
  display: none;
}

/**
 * Meta box payment update
 */
/* line 40, ../sass/admin.scss */
#pronamic_payment_update .inside {
  margin: 0;
  padding: 0;
}

/* line 45, ../sass/admin.scss */
.pronamic-pay-inner {
  margin: 6px 0 0 0;
  padding: 0 12px 12px;
}

/* line 50, ../sass/admin.scss */
.pronamic-pay-major-actions {
  background: #F5F5F5;
  border-top: 1px solid #DDD;
  padding: 10px;
}

/* line 58, ../sass/admin.scss */
.pronamic-pay-action {
  float: right;
  text-align: right;
}

/**
 * iDEAL
 */
/* line 67, ../sass/admin.scss */
pre.security-data {
  background-color: #EEE;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #DFDFDF;
  height: 10em;
  width: 40em;
  overflow: auto;
}

/**
 * Documentation
 */
/* line 82, ../sass/admin.scss */
.pronamic-pay-table tr.deprecated td,
.pronamic-pay-table tr.deprecated a {
  color: #AAAAAA;
}

/**
 * Charts
 */
/* line 90, ../sass/admin.scss */
.postbox .pronamic-pay-chart-with-sidebar {
  padding: 12px 12px 12px 249px;
}

/* line 96, ../sass/admin.scss */
.pronamic-pay-chart-sidebar {
  float: left;
  margin-left: -237px;
  width: 225px;
}

/* line 104, ../sass/admin.scss */
.pronamci-pay-chart-legend {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  border: 1px solid #dfdfdf;
  border-right-width: 0;
  border-bottom-width: 0;
  background: #FFF;
}

/* line 117, ../sass/admin.scss */
.pronamci-pay-chart-legend li {
  border-right: 5px solid #AAA;
  box-shadow: inset 0 -1px 0 0 #dfdfdf;
  color: #AAA;
  display: block;
  padding: 1em;
  margin: 0;
  transition: all ease .5s;
}

/* line 132, ../sass/admin.scss */
.pronamci-pay-chart-legend li:hover {
  box-shadow: inset 0 -1px 0 0 #DFDFDF, inset 300px 0 0 rgba(35, 40, 47, 0.1);
  border-right: 5px solid #23282F !important;
  padding-left: 1.5em;
}

/* line 140, ../sass/admin.scss */
.pronamci-pay-chart-legend strong {
  color: #464646;
  display: block;
  font-size: 1.618em;
  line-height: 1.2em;
  font-weight: 400;
}

/* line 152, ../sass/admin.scss */
.pronamic-pay-chart-tooltip {
  background: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  padding: .618em 1em;
  position: absolute;
  text-align: center;
}

/**
 * Gravity Forms notifications
 */
/* line 175, ../sass/admin.scss */
.pronamic-pay-gf-notifications {
  margin-left: 28px;
}

/* line 179, ../sass/admin.scss */
.pronamic-pay-gf-notifications ul {
  margin: 0;
}

/* line 183, ../sass/admin.scss */
.pronamic-pay-gf-notifications li {
  margin: 0;
}

/**
 * Gravity Forms editor
 */
/* line 190, ../sass/admin.scss */
.gforms_edit_form .ginput_ideal {
  background: url("../../images/icon-16x16.png") no-repeat left center;
  padding-left: 20px;
}

/* line 196, ../sass/admin.scss */
.gforms_edit_form .ideal-edit-link {
  background: url("../../images/icon-16x16.png") no-repeat;
  display: none;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  padding: 0 0 0 18px;
  text-decoration: none;
}

/* line 214, ../sass/admin.scss */
.gforms_edit_form .field_hover .ideal-edit-link,
.gforms_edit_form .field_selected .ideal-edit-link {
  display: block;
}

/* Add iDEAL fields */
/* line 220, ../sass/admin.scss */
#add_ideal_fields .button {
  /* The default Gravity Forms button width is to small */
  width: 10em;
}
