/**
 * Wrap
 */
/**
 * Fieldset
 */
/* line 11, ../sass/forms.scss */
.pronamic-pay-form fieldset {
  border: none;
}

/**
 * Legend
 */
/* line 18, ../sass/forms.scss */
.pronamic-pay-form legend {
  border-bottom: 1px solid #EDEDED;
  font-weight: 700;
  margin: 10px 0 15px;
  padding: 0 0 10px;
  width: 100%;
}

/**
 * Required indicator
 */
/* line 32, ../sass/forms.scss */
.pronamic-pay-required-indicator {
  color: #A00;
}

/**
 * Inputs
 */
/* line 39, ../sass/forms.scss */
.pronamic-pay-form .pronamic-pay-amount-input {
  width: auto;
}

/**
 * Rows
 */
/* line 46, ../sass/forms.scss */
.pronamic-pay-form-row {
  margin: 0 0 15px;
}
/* line 49, ../sass/forms.scss */
.pronamic-pay-form-row input,
.pronamic-pay-form-row textarea,
.pronamic-pay-form-row select {
  border-radius: 0;
  outline: none;
  width: 100%;
}

/* line 60, ../sass/forms.scss */
.pronamic-pay-form-row-wide {
  clear: both;
  margin: 0 0 15px;
}

/* line 66, ../sass/forms.scss */
.pronamic-pay-form-row-first,
.pronamic-pay-form-row-last {
  width: 48.5%;
}

/* line 71, ../sass/forms.scss */
.pronamic-pay-form-row-first {
  float: left;
}

/* line 75, ../sass/forms.scss */
.pronamic-pay-form-row-last {
  float: right;
}

/**
 * Error
 */
/* line 82, ../sass/forms.scss */
.pronamic-pay-error {
  background: #F9F9F9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  border-left: 4px solid #a00;
  clear: both;
  margin: 15px 0;
  position: relative;
  padding: 1em 1em 1em 2em;
}
