.pronamic-pay-form fieldset {
  border: 0;
}
.pronamic-pay-form legend {
  border-bottom: 1px solid #ededed;
  font-weight: 700;
  margin: 10px 0 15px;
  padding: 0 0 10px;
  width: 100%;
}
.pronamic-pay-form .pronamic-pay-amount-input {
  width: auto;
}

.pronamic-pay-required-indicator {
  color: #a00;
}

.pronamic-pay-form-row {
  margin: 0 0 15px;
}
.pronamic-pay-form-row input,
.pronamic-pay-form-row textarea,
.pronamic-pay-form-row select {
  border-radius: 0;
  outline: none;
  width: 100%;
}

.pronamic-pay-form-row-wide {
  clear: both;
  margin: 0 0 15px;
}

.pronamic-pay-form-row-first,
.pronamic-pay-form-row-last {
  width: 48.5%;
}

.pronamic-pay-form-row-first {
  float: left;
}

.pronamic-pay-form-row-last {
  float: right;
}

.pronamic-pay-error {
  background: #f9f9f9;
  border-left: 4px solid #a00;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  clear: both;
  margin: 15px 0;
  padding: 1em 1em 1em 2em;
  position: relative;
}
