/* line 5, ../sass/forms.scss */
.pronamic-pay-form fieldset {
  border: 0;
}
/* line 10, ../sass/forms.scss */
.pronamic-pay-form legend {
  border-bottom: 1px solid #ededed;
  font-weight: 700;
  margin: 10px 0 15px;
  padding: 0 0 10px;
  width: 100%;
}
/* line 22, ../sass/forms.scss */
.pronamic-pay-form .pronamic-pay-amount-input {
  width: auto;
}

/* line 28, ../sass/forms.scss */
.pronamic-pay-required-indicator {
  color: #a00;
}

/* line 33, ../sass/forms.scss */
.pronamic-pay-form-row {
  margin: 0 0 15px;
}
/* line 36, ../sass/forms.scss */
.pronamic-pay-form-row input,
.pronamic-pay-form-row textarea,
.pronamic-pay-form-row select {
  border-radius: 0;
  outline: none;
  width: 100%;
}

/* line 47, ../sass/forms.scss */
.pronamic-pay-form-row-wide {
  clear: both;
  margin: 0 0 15px;
}

/* line 53, ../sass/forms.scss */
.pronamic-pay-form-row-first,
.pronamic-pay-form-row-last {
  width: 48.5%;
}

/* line 58, ../sass/forms.scss */
.pronamic-pay-form-row-first {
  float: left;
}

/* line 62, ../sass/forms.scss */
.pronamic-pay-form-row-last {
  float: right;
}

/* line 67, ../sass/forms.scss */
.pronamic-pay-error {
  background: #f9f9f9;
  border-left: 4px solid #a00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  clear: both;
  margin: 15px 0;
  padding: 1em 1em 1em 2em;
  position: relative;
}
