body {
  background: #f6f6f6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pronamic-pay-redirect-page {
  margin: 0 auto;
  max-width: 750px;
}

.pronamic-pay-redirect-container {
  background: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}
.pronamic-pay-redirect-container h1 {
  margin: 0;
}

hr {
  width: 60%;
  height: 1px;
  margin: 2em auto;
  border: none;
  background: #c3c3c3;
}

#pronamic_ideal_form label {
  display: block;
  font-weight: bold;
  margin-bottom: .5em;
}
#pronamic_ideal_form p .pronamic-pay-btn {
  margin-top: .5em;
}

.pronamic-pay-btn {
  background: #008ec2;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  padding: 10px 20px;
}

.alignleft {
  text-align: left;
}
