/* line 11, ../sass/redirect.scss */
body {
  background: #f6f6f6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 17, ../sass/redirect.scss */
.pronamic-pay-redirect-page {
  margin: 0 auto;
  max-width: 750px;
}

/* line 23, ../sass/redirect.scss */
.pronamic-pay-redirect-container {
  background: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}
/* line 35, ../sass/redirect.scss */
.pronamic-pay-redirect-container h1 {
  margin: 0;
}

/* line 40, ../sass/redirect.scss */
.pronamic-pay-btn {
  background: #008ec2;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  padding: 10px 20px;
}

/* line 54, ../sass/redirect.scss */
.alignleft {
  text-align: left;
}