@import 'variables';

// Charts
.postbox {
	.pronamic-pay-chart-with-sidebar {
		padding: 12px 12px 12px 249px;
	}
}

.pronamic-pay-chart-sidebar {
	float: left;

	margin-left: -237px;

	width: 225px;
}

.pronamci-pay-chart-legend {
	background: $white;

	border: 1px solid $wp-postbox-border-color;
	border-right-width: 0;
	border-bottom-width: 0;

	list-style: none;

	margin: 0 0 1em;
	padding: 0;

	li {
		border-right: 5px solid $gray;

		box-shadow: inset 0 -1px 0 0 $wp-postbox-border-color;

		color: $gray;

		display: block;

		margin: 0;
		padding: 1em;

		transition-duration: .5s;
		transition-property: border, box-shadow, padding;

		&.completed-count {
			border-right-color: $pronamic-pay-chart-completed-count;
		}

		&.pending-sum {
			border-right-color: $pronamic-pay-chart-pending-sum;
		}

		&.completed-sum {
			border-right-color: $pronamic-pay-chart-completed-sum;
		}

		&.cancelled-sum {
			border-right-color: $pronamic-pay-chart-cancelled-sum;
		}

		&.expired-sum {
			border-right-color: $pronamic-pay-chart-expired-sum;
		}

		&.failed-sum {
			border-right-color: $pronamic-pay-chart-failed-sum;
		}

		&:hover {
			border-right-color: $pronamic-pay-chart-hover;

			box-shadow: inset 0 -1px 0 0 $wp-postbox-border-color, inset 300px 0 0 $wp-striped-table-background-color;

			padding-left: 1.5em;
		}
	}

	strong {
		color: $wp-body-color;

		display: block;

		font-size: 1.618em;
		font-weight: 400;

		line-height: 1.2em;
	}
}
