@import 'variables';

// @see https://github.com/twbs/bootstrap/blob/v4.0.0-alpha.5/scss/_code.scss

// Security data
pre {
	&.security-data {
		background-color: $wp-postbox-handle-border-color;

		border: 1px solid #dfdfdf;
		border-radius: 3px;

		overflow: auto;

		width: 40em;
		height: 10em;
	}
}
