.pronamic-pay-icon {
	display: block;

	position: relative;

	text-indent: -9999px;

	width: 1em;
	height: 1em;

	&::after {
		content: $ppi-status-processing;

		display: block;

		font-family: 'Pronamic Pay Icons';

		position: absolute;
		top: 0;
		left: 0;

		speak: none;

		text-indent: 0;

		width: 100%;
		height: 100%;
	}
}

.pronamic-pay-icon-pending {
	&::after {
		color: #ffba00;
		content: $ppi-status-pending;
	}
}

.pronamic-pay-icon-cancelled {
	&::after {
		color: #a00;
		content: $ppi-status-cancelled;
	}
}

.pronamic-pay-icon-processing {
	&::after {
		color: #73a724;
		content: $ppi-status-processing;
	}
}

.pronamic-pay-icon-completed {
	&::after {
		color: #2ea2cc;
		content: $ppi-status-completed;
	}
}

.pronamic-pay-icon-refunded {
	&::after {
		color: #999;
		content: $ppi-status-refunded;
	}
}

.pronamic-pay-icon-failed {
	&::after {
		color: #d0c21f;
		content: $ppi-status-failed;
	}
}

.pronamic-pay-icon-on-hold {
	&::after {
		color: #999;
		content: $ppi-status-on-hold;
	}
}

.pronamic-pay-icon-recurring {
	&::after {
		color: #999;
		content: $ppi-recurring;
	}
}

.pronamic-pay-icon-recurring-first {
	&::after {
		color: #2ea2cc;
		content: $ppi-recurring;
	}
}
