.pronamic-pay-payment-methods {
	li {
		color: $gray;
		margin-bottom: 1em;

		.pronamic-pay-icon {
			display: inline-block;
			padding-right: .8em;

			&::after {
				color: $gray-very-light;
			}
		}

		&.available {
			color: $black;

			.pronamic-pay-icon {
				&::after {
					color: $pronamic-pay-processing-color;
				}
			}
		}
	}
}
