@import 'variables';

#pronamic-pay-gateway-config-editor {
	.dashicons {
		vertical-align: text-bottom;

		&.dashicons-yes {
			color: $green;
		}

		&.dashicons-no {
			color: $red;
		}

		&.dashicons-warning {
			color: $orange;
		}
	}
}
