// Meta box update
#pronamic_payment_update,
#pronamic_subscription_update {
	.inside {
		margin: 0;
		padding: 0;
	}
}

.pronamic-pay-inner {
	margin: 6px 0 0;
	padding: 0 12px 12px;
}

.pronamic-pay-major-actions {
	background: $wp-major-publishing-actions-background-color;

	border-top: 1px solid $wp-major-publishing-actions-border-top-color;

	padding: 10px;
}

.pronamic-pay-action {
	float: right;

	text-align: right;
}
