@import 'variables';

#pronamic-pay-gateway-config-editor {
	.dashicons {
		&.dashicons-yes {
			color: $green;
		}

		&.dashicons-no {
			color: $red;
		}

		&.dashicons-warning {
			color: $orange;
		}
	}
}

.gateway-config-section-header {
	h4 {
		margin: 0;
	}

	p {
		margin: 0 0 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
