// Tabs
.pronamic-pay-tabs-items {
	border-bottom: 1px solid $pronamic-border-color;

	display: block;

	float: left;

	margin: 3px 0 0;

	width: 100%;

	li {
		background: $pronamic-border-color;

		border-right: 1px solid $pronamic-border-color;
		border-left: 1px solid $pronamic-border-color;

		cursor: pointer;

		display: block;

		float: left;

		margin: 0 5px -1px 0;
		padding: 8px 15px;

		&.active {
			background: $white;

			border-top: 3px solid $wp-button-primary-background-focus-color;

			margin-top: -3px;
		}
	}
}

.pronamic-pay-tab {
	border: 1px solid $pronamic-border-color;
	border-top: 0;

	clear: both;

	// WordPress form table
	.form-table {
		// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/forms.css#L623
		margin-top: 0;

		th {
			// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/forms.css#L653
			padding-left: 10px;
		}
	}
}

@media only screen and ( max-width: 960px ) {
	.pronamic-pay-tabs-items {
		display: none;
	}

	.pronamic-pay-tab {
		border: 0;

		.form-table {
			border: 0;
		}
	}
}

@media only screen and ( max-width: 782px ) {
	.pronamic-pay-tab {
		.form-table {
			th,
			td {
				padding: 11px;
			}
		}
	}
}
