.pronamic-pay-tip {
	color: $gray-dark;

	cursor: help;

	float: right;
}

// @see https://github.com/woothemes/woocommerce/blob/2.5.5/assets/css/admin.scss#L3522-L3548
#tiptip_content {
	background: $gray-very-dark;

	border: 0;

	box-shadow: none;
}
