// Black (http://www.colorhexa.com/000000)
$black: #000;
// White (http://www.colorhexa.com/ffffff)
$white: #fff;
// Green (http://www.colorhexa.com/008000)
$green: #008000;
// Red (http://www.colorhexa.com/ff0000)
$red: #f00;
// Orange (http://www.colorhexa.com/ffa500)
$orange: #ffa500;
// Gray (http://www.colorhexa.com/aaaaaa)
$gray: #aaa;

// Very light gray (http://www.colorhexa.com/ededed)
$gray-very-light: #ededed;
// Very light gray 2 (http://www.colorhexa.com/e0e0e0)
$gray-very-light-2: rgba($black, .125);
// Very light gray (mostly white) (http://www.colorhexa.com/f9f9f9)
$gray-very-light-white: #f9f9f9;

// Dark gray (http://www.colorhexa.com/777777)
$gray-dark: #777;
// Very dark gray (http://www.colorhexa.com/333333)
$gray-very-dark: #333;

// Dark red (http://www.colorhexa.com/aa0000)
$dark-red: #a00;

// WordPress body color
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L213
$wp-body-color: #444;

// WordPress anchor color
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L247-L248
$wp-a-color: #0073aa;
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L262-L265
$wp-a-hover-color: #00a0d2;

// WordPress icon color
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/colors/light/colors.scss#L2
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/colors/light/colors.css#L113-L115
$wp-icon-color: #999;

// Gray (http://www.colorhexa.com/eeeeee)
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L744-L747
$wp-postbox-handle-border-color: #eee;

// WordPress .postbox border-color
// WordPress table.widefat border-color
// Very light gray (http://www.colorhexa.com/e5e5e5)
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/edit.css#L171
$wp-postbox-border-color: #e5e5e5;

// WordPress .striped > tbody > :nth-child(odd)
// Very light gray (mostly white) (http://www.colorhexa.com/f9f9f9)
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L656-L660
$wp-striped-table-background-color: #f9f9f9;

// Strong blue (http://www.colorhexa.com/008ec2)
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-includes/css/buttons.css#L240
$wp-button-primary-background-focus-color: #008ec2;

// WordPress #major-publishing-actions background
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L869
$wp-major-publishing-actions-background-color: #f5f5f5;

// WordPress #major-publishing-actions border-top-color
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L868
$wp-major-publishing-actions-border-top-color: #ddd;

// iDEAL Magenta (https://github.com/wp-pay-media/ideal#ideal-magenta)
$ideal-magenta: #c06;

// Prnamic orange (http://www.colorhexa.com/f9461c)
$pronamic-orange: #f9461c;

// Pronamic pay pending color
// Pure (or mostly pure) orange (http://www.colorhexa.com/ffba00)
$pronamic-pay-pending-color: #ffba00;
// Pronamic pay cancelled color
$pronamic-pay-cancelled-color: $dark-red;
// Pronamic pay processing color
// Dark green (http://www.colorhexa.com/73a724)
$pronamic-pay-processing-color: #73a724;
// Pronamic pay completed color
// Strong blue (http://www.colorhexa.com/2ea2cc)
$pronamic-pay-completed-color: #2ea2cc;
// Pronamic pay refunded color
$pronamic-pay-refunded-color: $wp-icon-color;
// Pronamic pay failed color
// Strong yellow (http://www.colorhexa.com/d0c21f)
$pronamic-pay-failed-color: #d0c21f;
// Pronamic pay on-hold color
$pronamic-pay-on-hold-color: $wp-icon-color;
// Pronamic pay recurring color
$pronamic-pay-recurring-color: $wp-icon-color;
// Pronamic pay recurring first color
$pronamic-pay-recurring-first-color: $pronamic-pay-completed-color;

$pronamic-pay-chart-completed-count: #dbe1e3;
$pronamic-pay-chart-pending-sum: #b1d4ea;
$pronamic-pay-chart-completed-sum: #3498db;
$pronamic-pay-chart-cancelled-sum: #f1c40f;
$pronamic-pay-chart-expired-sum: #dbe1e3;
$pronamic-pay-chart-failed-sum: #e74c3c;
$pronamic-pay-chart-hover: #23282f;
