// Black (http://www.colorhexa.com/000000)
$black: #000;
// White (http://www.colorhexa.com/ffffff)
$white: #fff;
// Green (http://www.colorhexa.com/008000)
$green: #008000;
// Red (http://www.colorhexa.com/ff0000)
$red: #f00;
// Orange (http://www.colorhexa.com/ffa500)
$orange: #ffa500;

// Very light gray (http://www.colorhexa.com/ededed)
$gray-very-light: #ededed;
// Very light gray 2 (http://www.colorhexa.com/e0e0e0)
$gray-very-light-2: rgba($black, .125);
// Very light gray (mostly white) (http://www.colorhexa.com/f9f9f9)
$gray-very-light-white: #f9f9f9;

// Dark gray (http://www.colorhexa.com/777777)
$gray-dark: #777;
// Very dark gray (http://www.colorhexa.com/333333)
$gray-very-dark: #333;

// Gray (http://www.colorhexa.com/eeeeee)
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-admin/css/common.css#L744-L747
$wp-postbox-handle-border-color: #eee;
// Strong blue (http://www.colorhexa.com/008ec2)
// @see https://github.com/WordPress/WordPress/blob/4.6/wp-includes/css/buttons.css#L240
$wp-button-primary-background-focus-color: #008ec2;

// Dark red (http://www.colorhexa.com/aa0000)
$dark-red: #a00;

// iDEAL Magenta (https://github.com/wp-pay-media/ideal#ideal-magenta)
$ideal-magenta: #c06;

// Prnamic orange
$pronamic-orange: #fa6b49;

// WordPress .postbox border-color
// WordPress table.widefat border-color
$pronamic-border-color: #e5e5e5;
// WordPress .striped background-color
$pronamic-striped-background-color: #f9f9f9;
