@import 'compass/css3';

@import '../fonts/variables';

@import 'variables';

// Column
td.column-version {
	width: 5em;
}

.pronamic-pay-status-table {
	margin-top: 2em;

	thead th {
		font-weight: bold;
	}

	tbody th:first-child {
		width: 20%;
	}
}

// Subscriptions table
// @see https://github.com/WordPress/WordPress/blob/3.9/wp-admin/css/common.css#L431
.pronamic-pay-subscriptions-table {
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
}

.pronamic-pay-subscriptions-table thead th {
	border-bottom: 1px solid #e1e1e1;
}

.pronamic-pay-subscriptions-table td,
.pronamic-pay-subscriptions-table th {
	padding: 8px 10px;
}

.pronamic-pay-subscriptions-table th {
	text-align: left;
}

// Status
// @see https://github.com/woothemes/woocommerce/blob/v2.2.3/assets/css/admin.less#L1122-L1164
.widefat .column-pronamic_payment_status,
.widefat .column-pronamic_subscription_status {
	width: 1em;
}

.pronamic-pay-status {
	display: block;

	text-indent: -9999px;

	position: relative;

	height: 1em;
	width: 1em;
}

.pronamic-pay-status:after {
	display: block;

	font-family: "Pronamic Pay Icons";

	speak: none;

	text-indent: 0;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	content: $ppi-status-processing;
}

.pronamic-pay-status-publish:after {
	content: $ppi-status-processing;
}

.pronamic-pay-status-payment_pending:after,
.pronamic-pay-status-subscr_pending:after {
	content: $ppi-status-pending;
	color: #ffba00;
}

.pronamic-pay-status-payment_cancelled:after,
.pronamic-pay-status-subscr_cancelled:after {
	content: $ppi-status-cancelled;
	color: #a00;
}

.pronamic-pay-status-payment_processing:after {
	content: $ppi-status-processing;
	color: #73a724;
}

.pronamic-pay-status-payment_completed:after,
.pronamic-pay-status-subscr_active:after,
.pronamic-pay-status-subscr_completed:after {
	content: $ppi-status-completed;
	color: #2ea2cc;
}

.pronamic-pay-status-payment_refunded:after {
	content: $ppi-status-refunded;
	color: #999;
}

.pronamic-pay-status-payment_failed:after,
.pronamic-pay-status-subscr_failed:after {
	content: $ppi-status-failed;
	color: #d0c21f;
}

.pronamic-pay-status-payment_on_hold:after {
	content: $ppi-status-on-hold;
	color: #999;
}

.pronamic-pay-status-payment_expired:after,
.pronamic-pay-status-subscr_expired:after {
	content: $ppi-status-on-hold;
	color: #999;
}

// Recurring status
.widefat .column-pronamic_payment_subscription {
	width: 1em;
}

.pronamic-pay-recurring {
	display: block;

	text-indent: -9999px;

	position: relative;

	height: 1em;
	width: 1em;

	&.pronamic-pay-tip {
		float: left;
	}
}

.pronamic-pay-recurring:after {
	display: block;

	font-family: "Pronamic Pay Icons";

	speak: none;

	text-indent: 0;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	content: $ppi-recurring;
	color: #999;
}

.pronamic-pay-recurring-first:after {
	color: #2ea2cc;
}

// Dashboard
// @see https://github.com/woothemes/woocommerce/blob/2.3.13/assets/css/dashboard.scss#L51-L173
#pronamic_pay_dashboard_status .inside {
	margin: 0;
	padding: 0;
}

.pronamic-pay-status-list {
	overflow: hidden;

	margin: 0;

	li {
		border-top: 1px solid #ECECEC;

		@include box-sizing( border-box );

		color: #AAA;

		float: left;

		width: 50%;

		padding: 0;
		margin: 0;

		a {
			display: block;
			color: #aaa;
			padding: 9px 12px;
			-webkit-transition: all ease .5s;
			position: relative;
			font-size: 12px;

			strong {
				color: #21759b;

				display: block;

				font-size: 18px;
				font-weight: normal;

				line-height: 1.2em;				
			}

			&:hover {
				color: #2ea2cc;

				&:before,
				strong {
					color: #2ea2cc;
				}
			}
		}
	}

	li:first-child {
		border-top: none;
	
		width: 100%;
	}

	li:nth-child(even) {
		border-right: 1px solid #ECECEC;
	}
}

// Settings
.pronamic-pay-settings select {
	width: 25em;
}

#pronamic_pay_create_pages {
	margin-top: 1em;
}

// Gateway config postbox
#pronamic_gateway_config {
	option.deprecated {
		color: #AAA;
	}

	.gateway-config-section-header {
		h4 {
			margin: 0;
		}

		p {
			margin: 0 0 1em 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// Gateway test postbox
#pronamic_gateway_test {
	.inside > label,
	.inside div label {
		display: block;
	}

	.pronamic-pay-test-payment-method td label {
		display: none;
	}

	.pronamic-pay-test-payment-method {
		display: none;
	}
}

// Payment log postbox
#pronamic_payment_log.postbox .inside {
	margin: 0;
	padding: 0;
}

#pronamic_payment_log .comments-box {
	border: 0 none;
}

// Post type payment
body.post-type-pronamic_payment,
body.post-type-pronamic_pay_subscr {
	#post-body-content {
		display: none;
	}
}

// Input shortcode
.pronamic-pay-shortcode-input {
	width: 100%;
}

// Meta box update
#pronamic_payment_update .inside,
#pronamic_subscription_update .inside {
	margin: 0;
	padding: 0;
}

.pronamic-pay-inner {
	margin: 6px 0 0 0;
	padding: 0 12px 12px;
}

.pronamic-pay-major-actions {
	background: #F5F5F5;

	border-top: 1px solid #DDD;

	padding: 10px;
}

.pronamic-pay-action {
	float: right;

	text-align: right;
}

// iDEAL
pre.security-data {
	background-color: #EEE;

	border-radius: 3px 3px 3px 3px;
	border: 1px solid #DFDFDF;

	height: 10em;
	width: 40em;

	overflow: auto;
}

// Documentation
.pronamic-pay-table tr.deprecated td,
.pronamic-pay-table tr.deprecated a {
	color: #AAAAAA;
}

// Charts
.postbox .pronamic-pay-chart-with-sidebar {
	padding: 12px 12px 12px 249px;


}

.pronamic-pay-chart-sidebar {
	float: left;

	margin-left: -237px;

	width: 225px;
}

.pronamci-pay-chart-legend {
	list-style: none;

	margin: 0 0 1em;
	padding: 0;

	border: 1px solid #dfdfdf;
	border-right-width: 0;
	border-bottom-width: 0;

	background: #FFF;
}

.pronamci-pay-chart-legend li {
	border-right: 5px solid #AAA;

	box-shadow: inset 0 -1px 0 0 #dfdfdf;

	color: #AAA;

	display: block;

	padding: 1em;
	margin: 0;

	transition: all ease .5s;
}

.pronamci-pay-chart-legend li:hover {
	box-shadow: inset 0 -1px 0 0 #DFDFDF, inset 300px 0 0 rgba( #23282F, .1 );

	border-right: 5px solid #23282F !important;

	padding-left: 1.5em;
}

.pronamci-pay-chart-legend strong {
	color: #464646;

	display: block;

	font-size: 1.618em;

	line-height: 1.2em;

	font-weight: 400;
}

.pronamic-pay-chart-tooltip {
	background: #333;

	border-radius: 3px;

	box-shadow: 0 1px 3px rgba( #000, 0.2 );

	color: #fff;

	font-size: .8em;

	max-width: 150px;
	
	padding: .618em 1em;

	position: absolute;

	text-align: center;
}

/**
 * Error
 */
.pronamic-pay-error {
	background: #F9F9F9;

	box-shadow: 0 1px 1px rgba( #000, .125 );

	border-left: 4px solid #a00;

	clear: both;

	margin: 15px 0;

	position: relative;

	padding: 1em 1em 1em 2em;
}

#_pronamic_gateway_ideal_private_key,
#_pronamic_gateway_ideal_private_certificate {
	width: 100%;
}

/**
 * Tabs
 */
.pronamic-pay-tabs-items {
	border-bottom: 1px solid $pronamic-border-color;

	display: block;

	float: left;

	margin: 3px 0 0;

	width: 100%;

	li {
		background: $pronamic-border-color;

		border-left: 1px solid $pronamic-border-color;
		border-right: 1px solid $pronamic-border-color;

		color: #444;

		cursor: pointer;

		display: block;

		float: left;

		margin: 0 5px -1px 0;
		padding: 8px 15px;

		&.active {
			background: #FFF;

			border-top: 3px solid #C06;
			margin-top: -3px;
		}
	}
}

div.extra-settings {
	display: none;
}

div.pronamic-pay-tab,
div.extra-settings {
	border: 1px solid $pronamic-border-color;
	border-top: 0;

	clear: both;

	> div {
		font-style: italic;

		padding: 20px 10px;
	}

	.gateway-config-section-header h4,
	.show-provider {
		display: none;
	}

	.form-table {
		margin-top: 0;

		tr.even {
			background: $pronamic-striped-background-color;
		}

		th {
			padding-left: 10px;
		}

		td {
			p {
				line-height: inherit;
			}

			p:first-child {
				margin-top: 5px;
			}
		}
	}

	.input-file-wrapper {
		position: relative;

		overflow: hidden;

		input[type="file"] {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;

			font-size: 50px;

			cursor: pointer;
		}
	}

	p + input.button,
	.pk-cert-ok input.button,
	input.large-text.code + input.button {
		margin-top: 10px;

		& + div.button {
			margin-top: 10px;
		}
	}

	span.description {
		line-height: 1.9;
	}
}

.pronamic-pay-form-control + .pronamic-pay-form-text {
	display: block;

	line-height: 1.9;

	margin-top: 10px;
}

#pk-cert-fields-toggle {
	display: inline-block;
	margin: 1em;
}

#_pronamic_gateway_country + span.description {
	display: inline;
	margin-left: 10px;
}

/* Hide download buttons for new configuration */
body.post-new-php div.extra-settings {
	input[name="download_private_key"],
	input[name="download_private_certificate"] {
		display: none;
	}

	.pk-cert-error > span {
		display: none;
	}
}

.pronamic-pay-tip {
	float: right;

	color: #777;

	cursor: help;
}

// @see https://github.com/woothemes/woocommerce/blob/2.5.5/assets/css/admin.scss#L3522-L3548
#tiptip_content {
	background: #333;

	border: none;
	box-shadow: none;
}

#pronamic-pay-gateway-description {
	margin-top: 10px;
	font-size: .9em;
}

#debug-selected-method {
	float: none;
}

#pronamic-pay-gateway-config-editor {
	.dashicons {
		vertical-align: text-bottom;

		&.dashicons-yes {
			color: green;
		}

		&.dashicons-no {
			color: red;
		}

		&.dashicons-warning {
			color: orange;
		}
	}
}

@media only screen and ( max-width: 960px ) {
	.pronamic-pay-tabs-items {
		display: none;
	}

	div.pronamic-pay-tab,
	div.pronamic-pay-tab .form-table {
		border: 0;
	}
}

@media only screen and ( max-width: 782px ) {
	div.pronamic-pay-tab .form-table {
		th,
		td {
			padding: 11px;
		}
	}
}
