@import 'admin/variables';

// About badge
.pronamic-pay-badge {
	background-color: $pronamic-orange;
	background-image: url( '../images/pronamic-logo-white.png' );

	color: mix($pronamic-orange, $white, 20%);
}

.svg {
	.pronamic-pay-badge {
		background-image: url( '../images/pronamic-logo-white.svg' );
	}
}
