// Pointers
.pp-pointer-buttons {
	.button,
	.button-primary,
	.button-secondary {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		float: none;
	}
}

.pp-pointer-buttons-right {
	float: right;
}
