@import "compass/css3";

td.column-version {
	width: 5em;
}

.pronamic-pay-status-table tbody th:first-child {
	width: 20%;
}

/**
 * Dashboard
 *
 * @see https://github.com/woothemes/woocommerce/blob/2.3.13/assets/css/dashboard.scss#L51-L173
 */
#pronamic_pay_dashboard_status .inside {
	margin: 0;
	padding: 0;
}

.pronamic-pay-status-list {
	overflow: hidden;

	margin: 0;

	li {
		border-top: 1px solid #ECECEC;

		@include box-sizing( border-box );

		color: #AAA;

		float: left;

		width: 50%;

		padding: 0;
		margin: 0;

		a {
			display: block;
			color: #aaa;
			padding: 9px 12px;
			-webkit-transition: all ease .5s;
			position: relative;
			font-size: 12px;

			strong {
				color: #21759b;

				display: block;

				font-size: 18px;
				font-weight: normal;

				line-height: 1.2em;				
			}

			&:hover {
				color: #2ea2cc;

				&:before,
				strong {
					color: #2ea2cc;
				}
			}
		}
	}

	li:first-child {
		border-top: none;
	
		width: 100%;
	}

	li:nth-child(even) {
		border-right: 1px solid #ECECEC;
	}
}

/**
 * Gateway config postbox
 */
#pronamic_gateway_config option.deprecated {
	color: #AAA;
}

#pronamic_gateway_config .gateway-config-section-header {
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;

	margin: 1.33em 0;
	padding: 5px;
}

#pronamic_gateway_config .gateway-config-section-header h4,
#pronamic_gateway_config .gateway-config-section-header p {
	margin: 0;
}

#pronamic_gateway_config .gateway-config-section-header p {
	font-style: italic;
	color: #757575;
}

/**
 * Payment log postbox
 */
#pronamic_payment_log.postbox .inside {
	margin: 0;
	padding: 0;
}

#pronamic_payment_log .comments-box {
	border: 0 none;
}

/**
 * Post type payment
 */
body.post-type-pronamic_payment {
	#post-body-content {
		display: none;
	}
}

/**
 * Input shortcode
 */
.pronamic-pay-shortcode-input {
	width: 100%;
}

/**
 * Meta box payment update
 */
#pronamic_payment_update .inside {
	margin: 0;
	padding: 0;
}

.pronamic-pay-inner {
	margin: 6px 0 0 0;
	padding: 0 12px 12px;
}

.pronamic-pay-major-actions {
	background: #F5F5F5;

	border-top: 1px solid #DDD;

    padding: 10px;
}

.pronamic-pay-action {
	float: right;

	text-align: right;
}

/**
 * iDEAL
 */
pre.security-data {
	background-color: #EEE;

	border-radius: 3px 3px 3px 3px;
	border: 1px solid #DFDFDF;

	height: 10em;
	width: 40em;

	overflow: auto;
}

/**
 * Documentation
 */
.pronamic-pay-table tr.deprecated td,
.pronamic-pay-table tr.deprecated a {
	color: #AAAAAA;
}

/**
 * Charts
 */
.postbox .pronamic-pay-chart-with-sidebar {
	padding: 12px 12px 12px 249px;


}

.pronamic-pay-chart-sidebar {
	float: left;

	margin-left: -237px;

	width: 225px;
}

.pronamci-pay-chart-legend {
	list-style: none;

	margin: 0 0 1em;
	padding: 0;

	border: 1px solid #dfdfdf;
	border-right-width: 0;
	border-bottom-width: 0;

	background: #FFF;
}

.pronamci-pay-chart-legend li {
	border-right: 5px solid #AAA;

  	box-shadow: inset 0 -1px 0 0 #dfdfdf;

	color: #AAA;

	display: block;

	padding: 1em;
	margin: 0;

	transition: all ease .5s;
}

.pronamci-pay-chart-legend li:hover {
	box-shadow: inset 0 -1px 0 0 #DFDFDF, inset 300px 0 0 rgba( #23282F, .1 );

	border-right: 5px solid #23282F !important;

	padding-left: 1.5em;
}

.pronamci-pay-chart-legend strong {
	color: #464646;

	display: block;

	font-size: 1.618em;

	line-height: 1.2em;

	font-weight: 400;
}

.pronamic-pay-chart-tooltip {
	background: #333;

	border-radius: 3px;

	box-shadow: 0 1px 3px rgba( #000, 0.2 );

	color: #fff;

	font-size: .8em;

	max-width: 150px;
	
	padding: .618em 1em;

	position: absolute;

	text-align: center;
}

/**
 * Error
 */
.pronamic-pay-error {
  background: #F9F9F9;

  box-shadow: 0 1px 1px rgba( #000, .125 );

  border-left: 4px solid #a00;

  clear: both;

  margin: 15px 0;

  position: relative;

  padding: 1em 1em 1em 2em;
}