@import 'compass/css3';

@import '../fonts/variables';

@import 'admin/chart';
@import 'admin/code';
@import 'admin/dashboard-widget-payments';
@import 'admin/edit-form-post';
@import 'admin/forms';
@import 'admin/icons';
@import 'admin/meta-box-gateway-config';
@import 'admin/meta-box-gateway-test';
@import 'admin/meta-box-payment-log';
@import 'admin/meta-box-update';
@import 'admin/settings';
@import 'admin/tables';
@import 'admin/tabs';
@import 'admin/tip';
@import 'admin/variables';

div.extra-settings {
	display: none;

	.gateway-config-section-header h4,
	.show-provider {
		display: none;
	}

	.form-table {
		td {
			p {
				line-height: inherit;

				&:first-child {
					margin-top: 5px;
				}
			}
		}
	}

	p + input.button,
	.pk-cert-ok input.button,
	input.large-text.code + input.button {
		margin-top: 10px;

		& + div.button {
			margin-top: 10px;
		}
	}
}

#pk-cert-fields-toggle {
	display: inline-block;

	margin: 1em;
}
