@import '../fonts/variables';

@import 'admin/buttons';
@import 'admin/chart';
@import 'admin/dashboard-widget-payments';
@import 'admin/edit-form-post';
@import 'admin/forms';
@import 'admin/icons';
@import 'admin/lists';
@import 'admin/meta-box-gateway-config';
@import 'admin/meta-box-gateway-test';
@import 'admin/meta-box-payment-log';
@import 'admin/meta-box-update';
@import 'admin/settings';
@import 'admin/tables';
@import 'admin/tabs';
@import 'admin/tip';
@import 'admin/utilities';
@import 'admin/variables';
