@import 'admin/variables';

.pronamic-pay-form {
	// Fieldset
	fieldset {
		border: 0;
	}

	// Legend
	legend {
		border-bottom: 1px solid $gray-very-light;

		font-weight: 700;

		margin: 10px 0 15px;
		padding: 0 0 10px;

		width: 100%;
	}

	// Input
	.pronamic-pay-amount-input {
		width: auto;
	}
}

// Required indicator
.pronamic-pay-required-indicator {
	color: $dark-red;
}

// Rows
.pronamic-pay-form-row {
	margin: 0 0 15px;

	input,
	textarea,
	select {
		border-radius: 0;

		outline: none;

		width: 100%;
	}
}

.pronamic-pay-form-row-wide {
	clear: both;

	margin: 0 0 15px;
}

.pronamic-pay-form-row-first,
.pronamic-pay-form-row-last {
	width: 48.5%;
}

.pronamic-pay-form-row-first {
	float: left;
}

.pronamic-pay-form-row-last {
	float: right;
}

// Error
.pronamic-pay-error {
	background: $gray-very-light-white;

	border-left: 4px solid $dark-red;

	box-shadow: 0 1px 1px $gray-very-light-2;

	clear: both;

	margin: 15px 0;

	padding: 1em 1em 1em 2em;

	position: relative;
}
