# Build
/build/

# Pronamic Deployer
/deployer/

# Etc
/etc/

# Composer
vendor/

# Eclipse
/.buildpath
/.project
/.settings

# Grunt
/node_modules/

# Deploy
/deploy/

# PHPUnit
/phpunit.xml

# PHPCS
/phpcs.xml

# PhpStorm
.idea

# Visual Studio Code
.vscode

# Sass
.sass-cache

# WordPress
/wordpress/

# WordPress content
/wp-content/

# wp-env
/.wp-env.override.json

# Repositories
/packages/

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
