# Build
/build/

# Pronamic Deployer
/deployer/

# Etc
/etc/

# Composer
vendor/

# Composer bin plugin
/vendor-bin/**/vendor/

# Eclipse
/.buildpath
/.project
/.settings

# Grunt
/node_modules/

# Deploy
/deploy/

# PHPUnit
/phpunit.xml

# PHPCS
/phpcs.xml

# PhpStorm
.idea

# Visual Studio Code
.vscode

# Sass
.sass-cache

# WordPress
/wordpress/

# WordPress content
/wp-content/

# Repositories
/packages/
