# Build
/build/

# Etc
/etc/

# Composer
/vendor/
/composer.local.json

# Eclipse
/.buildpath
/.project
/.settings

# Grunt
/node_modules/

# Deploy
/deploy/

# PHPUnit
/phpunit.xml

# PHPCS
/phpcs.xml

# Sass
.sass-cache

# WordPress content
/wp-content/

# Repositories
/repositories/
