<?xml version="1.0"?>

<ruleset name="Pronamic Pay">
	<config name="installed_paths" value="../../wp-coding-standards/wpcs,../../wimg/php-compatibility" />

	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-99.0" />

	<exclude-pattern>assets/*</exclude-pattern>
	<exclude-pattern>css/*</exclude-pattern>
	<exclude-pattern>documentation/*</exclude-pattern>
	<exclude-pattern>fonts/*</exclude-pattern>
	<exclude-pattern>html/*</exclude-pattern>
	<exclude-pattern>images/*</exclude-pattern>
	<exclude-pattern>includes/updates/*</exclude-pattern>
	<exclude-pattern>includes/xmlseclibs/*</exclude-pattern>
	<exclude-pattern>js/*</exclude-pattern>
	<exclude-pattern>languages/*</exclude-pattern>
	<exclude-pattern>other/*</exclude-pattern>

	<rule ref="PHPCompatibility" />

	<rule ref="WordPress">
		<exclude name="Generic.PHP.NoSilencedErrors.Discouraged" />

		<exclude name="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace" />
		<exclude name="Squiz.PHP.CommentedOutCode.Found" />

		<exclude name="WordPress.NamingConventions.ValidFunctionName" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />

		<exclude name="WordPress.Files.FileName" />

		<exclude name="WordPress.VIP.DirectDatabaseQuery" />
		<exclude name="WordPress.VIP.FileSystemWritesDisallow" />
		<exclude name="WordPress.VIP.SuperGlobalInputUsage" />
		<exclude name="WordPress.VIP.ValidatedSanitizedInput" />
		<exclude name="WordPress.VIP.PostsPerPage.posts_per_page_nopaging" />
		<exclude name="WordPress.VIP.SlowDBQuery.slow_db_query_meta_key" />
		<exclude name="WordPress.VIP.SlowDBQuery.slow_db_query_meta_query" />

		<exclude name="WordPress.VIP.RestrictedFunctions.file_get_contents_file_get_contents" />
		<exclude name="WordPress.VIP.RestrictedFunctions.wp_remote_get_wp_remote_get" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta_get_user_meta" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta_update_user_meta" />
		<exclude name="WordPress.VIP.RestrictedFunctions.custom_role_add_role" />
		<exclude name="WordPress.VIP.RestrictedFunctions.wp_redirect_wp_redirect" />

		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />

		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_read_file_get_contents" />
	</rule>

	<rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
		<exclude-pattern>/admin/tab-*.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.PHP.NewConstants.sort_flag_caseFound">
		<exclude-pattern>/classes/Admin/GatewaySettings.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize">
		<exclude-pattern>/includes/updates/update-2.0.0.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.VIP.RestrictedVariables.cache_constraints___SERVER__HTTP_USER_AGENT__">
		<exclude-pattern>/classes/Plugin.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.VIP.RestrictedVariables.cache_constraints___SERVER__REMOTE_ADDR__">
		<exclude-pattern>/classes/Plugin.php</exclude-pattern>
	</rule>
</ruleset>
