<?xml version="1.0"?>

<ruleset name="Pronamic Pay">
	<file>.</file>

	<exclude-pattern type="relative">^index.php</exclude-pattern>
	<exclude-pattern type="relative">^.idea/*</exclude-pattern>
	<exclude-pattern type="relative">^build/*</exclude-pattern>
	<exclude-pattern type="relative">^deploy/*</exclude-pattern>
	<exclude-pattern type="relative">^documentation/*</exclude-pattern>
	<exclude-pattern type="relative">^node_modules/*</exclude-pattern>
	<exclude-pattern type="relative">^src/phpcompatibility/*</exclude-pattern>
	<exclude-pattern type="relative">^src/wpcs/*</exclude-pattern>
	<exclude-pattern type="relative">^vendor/*</exclude-pattern>
	<exclude-pattern type="relative">^wp-content/*</exclude-pattern>
	<exclude-pattern type="relative">^wordpress/*</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="Squiz.Commenting.FileComment.Missing">src/readme-txt/changelog.php</exclude>

		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />

		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />

		<exclude name="WordPress.WP.GlobalVariablesOverride.OverrideProhibited" />

		<exclude name="WordPressVIPMinimum.Performance.FetchingRemoteData.FileGetContentsUnknown" />
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="pronamic-ideal" />
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array">
				<element value="action-scheduler" />
				<element value="pronamic_ideal" />
				<element value="pronamic-money" />
			</property>

			<property name="new_text_domain" value="pronamic-ideal" />
		</properties>
	</rule>

	<rule ref="Generic.Files.EndFileNewline.NotFound">
		<exclude-pattern>src/readme-md/installation.php</exclude-pattern>
	</rule>

	<rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
		<exclude-pattern>admin/tab-*.php</exclude-pattern>
	</rule>

	<rule ref="Internal.NoCodeFound">
		<exclude-pattern>src/*.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ClassRefFound">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ThisFound">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ThisFoundOutsideClass">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace">
		<exclude-pattern>admin/*.php</exclude-pattern>
	</rule>

    <rule ref="Squiz.Commenting.FileComment.Missing">
        <exclude-pattern>src/readme-txt/description-long.php</exclude-pattern>
    </rule>

    <rule ref="Squiz.PHP.EmbeddedPhp.ContentBeforeOpen">
        <exclude-pattern>src/readme-md/extensions.php</exclude-pattern>
        <exclude-pattern>src/readme-md/gateways.php</exclude-pattern>
    </rule>

    <rule ref="Squiz.PHP.EmbeddedPhp.ContentAfterEnd">
        <exclude-pattern>src/readme-md/extensions.php</exclude-pattern>
        <exclude-pattern>src/readme-md/gateways.php</exclude-pattern>
    </rule>

	<rule ref="WordPress.DB.DirectDatabaseQuery.SchemaChange">
		<exclude-pattern>uninstall.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.system_calls_passthru">
		<exclude-pattern>src/dev.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize">
		<exclude-pattern>includes/updates/update-2.0.0.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.Security.EscapeOutput.OutputNotEscaped">
		<exclude-pattern>src/*.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DisallowShortTernary">
		<exclude-pattern>tests/wp-config.php</exclude-pattern>
	</rule>
</ruleset>
