<?xml version="1.0"?>

<ruleset name="Pronamic Pay">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.6-" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg value="sp" />

	<exclude-pattern>assets/*</exclude-pattern>
	<exclude-pattern>build/*</exclude-pattern>
	<exclude-pattern>css/*</exclude-pattern>
	<exclude-pattern>deploy/*</exclude-pattern>
	<exclude-pattern>documentation/*</exclude-pattern>
	<exclude-pattern>fonts/*</exclude-pattern>
	<exclude-pattern>html/*</exclude-pattern>
	<exclude-pattern>images/*</exclude-pattern>
	<exclude-pattern>includes/updates/*</exclude-pattern>
	<exclude-pattern>index.php</exclude-pattern>
	<exclude-pattern>js/*</exclude-pattern>
	<exclude-pattern>languages/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>other/*</exclude-pattern>
	<exclude-pattern>repositories/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>
	<exclude-pattern type="relative">^wp-content/*</exclude-pattern>

	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress">
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />

		<exclude name="WordPress.Files.FileName" />

		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />

		<exclude name="WordPress.WP.GlobalVariablesOverride.OverrideProhibited" />
	</rule>

	<rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
		<exclude-pattern>admin/tab-*.php</exclude-pattern>
	</rule>

	<rule ref="Internal.NoCodeFound">
		<exclude-pattern>src/*.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ClassRefFound">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ThisFound">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ThisFoundOutsideClass">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace">
		<exclude-pattern>admin/*.php</exclude-pattern>
	</rule>

    <rule ref="Squiz.Commenting.FileComment.Missing">
        <exclude-pattern>src/readme-txt/description-long.php</exclude-pattern>
    </rule>

    <rule ref="Squiz.PHP.EmbeddedPhp.ContentBeforeOpen">
        <exclude-pattern>src/readme-md/extensions.php</exclude-pattern>
        <exclude-pattern>src/readme-md/gateways.php</exclude-pattern>
    </rule>

    <rule ref="Squiz.PHP.EmbeddedPhp.ContentAfterEnd">
        <exclude-pattern>src/readme-md/extensions.php</exclude-pattern>
        <exclude-pattern>src/readme-md/gateways.php</exclude-pattern>
    </rule>

	<rule ref="WordPress.DB.DirectDatabaseQuery.SchemaChange">
		<exclude-pattern>uninstall.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_system_read_fopen">
		<exclude-pattern>src/repositories.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_system_read_fwrite">
		<exclude-pattern>src/repositories.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.system_calls_shell_exec">
		<exclude-pattern>src/repositories.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize">
		<exclude-pattern>includes/updates/update-2.0.0.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.Security.EscapeOutput.OutputNotEscaped">
		<exclude-pattern>src/*.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DisallowShortTernary">
		<exclude-pattern>tests/wp-config.php</exclude-pattern>
	</rule>
</ruleset>
