parameters:
	customRulesetUsed: false
	dynamicConstantNames:
		- PRONAMIC_PAY_DEBUG
	level: max
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	paths:
		- src
	excludePaths:
		- src/i18n-make-pot.php
		- wordpress/wp-admin/includes/noop.php
	scanDirectories:
	  - wordpress/
