<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
>
    <testsuites>
        <testsuite name="Pronamic iDEAL Test Suite">
            <directory>./tests/</directory>
            <directory>./vendor/wp-pay*/*/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./classes</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
