<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
	<coverage>
		<include>
			<directory suffix=".php">./admin</directory>
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">src</directory>
		</include>

		<exclude>
			<directory suffix=".php">src/phpcompatibility</directory>
		</exclude>
	</coverage>

	<testsuites>
		<testsuite name="Pronamic Pay Test Suite">
			<directory suffix=".php">tests/src</directory>
		</testsuite>
	</testsuites>
</phpunit>
