/* Icons */
$ppi-ideal: "\f101";
$ppi-pronamic: "\f102";
$ppi-recurring: "\f103";
$ppi-status-cancelled: "\f104";
$ppi-status-completed: "\f105";
$ppi-status-failed: "\f106";
$ppi-status-on-hold: "\f107";
$ppi-status-pending: "\f108";
$ppi-status-processing: "\f109";
$ppi-status-refunded: "\f10a";
