=== {{plugin.name}} ===
Contributors: pronamic, remcotolsma 
Tags: ideal, bank, payment, gravity forms, gravity, forms, form, payment, woocommerce, woothemes, shopp, rabobank, friesland bank, ing, mollie, omnikassa, wpsc, wpecommerce, commerce, e-commerce, cart, classipress, appthemes
Donate link: http://www.pronamic.eu/donate/?for=wp-plugin-pronamic-ideal&source=wp-plugin-readme-txt
Requires at least: 3.6
Tested up to: 4.2.2
Stable tag: {{plugin.version}}

{{> description_short}}

== Description ==

{{> description_long}}

== Installation ==

{{> installation}}

== Changelog ==

{{> changelog}}

== Links ==

{{> links}}

== Pronamic plugins ==

{{> plugins}}

