@charset "UTF-8";
/* Icons */
/**
 * Colors
 */
/**
 * Column
 */
/* line 18, ../sass/admin.scss */
td.column-version {
  width: 5em;
}

/* line 22, ../sass/admin.scss */
.pronamic-pay-status-table {
  margin-top: 2em;
}
/* line 25, ../sass/admin.scss */
.pronamic-pay-status-table thead th {
  font-weight: bold;
}
/* line 29, ../sass/admin.scss */
.pronamic-pay-status-table tbody th:first-child {
  width: 20%;
}

/**
 * Status
 *
 * @see https://github.com/woothemes/woocommerce/blob/v2.2.3/assets/css/admin.less#L1122-L1164
 */
/* line 39, ../sass/admin.scss */
.widefat .column-pronamic_payment_status,
.widefat .column-pronamic_subscription_status {
  width: 1em;
}

/* line 44, ../sass/admin.scss */
.pronamic-pay-status {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
}

/* line 55, ../sass/admin.scss */
.pronamic-pay-status:after {
  display: block;
  font-family: "Pronamic Pay Icons";
  speak: none;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

/* line 74, ../sass/admin.scss */
.pronamic-pay-status-publish:after {
  content: "";
}

/* line 78, ../sass/admin.scss */
.pronamic-pay-status-payment_pending:after,
.pronamic-pay-status-subscr_pending:after {
  content: "";
  color: #ffba00;
}

/* line 84, ../sass/admin.scss */
.pronamic-pay-status-payment_cancelled:after,
.pronamic-pay-status-subscr_cancelled:after {
  content: "";
  color: #a00;
}

/* line 90, ../sass/admin.scss */
.pronamic-pay-status-payment_processing:after {
  content: "";
  color: #73a724;
}

/* line 95, ../sass/admin.scss */
.pronamic-pay-status-payment_completed:after,
.pronamic-pay-status-subscr_active:after,
.pronamic-pay-status-subscr_completed:after {
  content: "";
  color: #2ea2cc;
}

/* line 102, ../sass/admin.scss */
.pronamic-pay-status-payment_refunded:after {
  content: "";
  color: #999;
}

/* line 107, ../sass/admin.scss */
.pronamic-pay-status-payment_failed:after,
.pronamic-pay-status-subscr_failed:after {
  content: "";
  color: #d0c21f;
}

/* line 113, ../sass/admin.scss */
.pronamic-pay-status-payment_on_hold:after {
  content: "";
  color: #999;
}

/* line 118, ../sass/admin.scss */
.pronamic-pay-status-payment_expired:after,
.pronamic-pay-status-subscr_expired:after {
  content: "";
  color: #999;
}

/**
 * Dashboard
 *
 * @see https://github.com/woothemes/woocommerce/blob/2.3.13/assets/css/dashboard.scss#L51-L173
 */
/* line 129, ../sass/admin.scss */
#pronamic_pay_dashboard_status .inside {
  margin: 0;
  padding: 0;
}

/* line 134, ../sass/admin.scss */
.pronamic-pay-status-list {
  overflow: hidden;
  margin: 0;
}
/* line 139, ../sass/admin.scss */
.pronamic-pay-status-list li {
  border-top: 1px solid #ECECEC;
  box-sizing: border-box;
  color: #AAA;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
/* line 153, ../sass/admin.scss */
.pronamic-pay-status-list li a {
  display: block;
  color: #aaa;
  padding: 9px 12px;
  -webkit-transition: all ease .5s;
  position: relative;
  font-size: 12px;
}
/* line 161, ../sass/admin.scss */
.pronamic-pay-status-list li a strong {
  color: #21759b;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}
/* line 172, ../sass/admin.scss */
.pronamic-pay-status-list li a:hover {
  color: #2ea2cc;
}
/* line 175, ../sass/admin.scss */
.pronamic-pay-status-list li a:hover:before,
.pronamic-pay-status-list li a:hover strong {
  color: #2ea2cc;
}
/* line 183, ../sass/admin.scss */
.pronamic-pay-status-list li:first-child {
  border-top: none;
  width: 100%;
}
/* line 189, ../sass/admin.scss */
.pronamic-pay-status-list li:nth-child(even) {
  border-right: 1px solid #ECECEC;
}

/**
 * Settings
 */
/* line 197, ../sass/admin.scss */
.pronamic-pay-settings select {
  width: 25em;
}

/* line 201, ../sass/admin.scss */
#pronamic_pay_create_pages {
  margin-top: 1em;
}

/**
 * Gateway config postbox
 */
/* line 209, ../sass/admin.scss */
#pronamic_gateway_config option.deprecated {
  color: #AAA;
}
/* line 214, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header h4 {
  margin: 0;
}
/* line 218, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header p {
  margin: 0 0 1em 0;
}
/* line 221, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header p:last-child {
  margin-bottom: 0;
}

/**
 * Gateway test postbox
 */
/* line 232, ../sass/admin.scss */
#pronamic_gateway_test .inside > label,
#pronamic_gateway_test .inside div label {
  display: block;
}
/* line 237, ../sass/admin.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method td label {
  display: none;
}
/* line 241, ../sass/admin.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method {
  display: none;
}

/**
 * Payment log postbox
 */
/* line 249, ../sass/admin.scss */
#pronamic_payment_log.postbox .inside {
  margin: 0;
  padding: 0;
}

/* line 254, ../sass/admin.scss */
#pronamic_payment_log .comments-box {
  border: 0 none;
}

/**
 * Post type payment
 */
/* line 263, ../sass/admin.scss */
body.post-type-pronamic_payment #post-body-content,
body.post-type-pronamic_pay_subscr #post-body-content {
  display: none;
}

/**
 * Input shortcode
 */
/* line 271, ../sass/admin.scss */
.pronamic-pay-shortcode-input {
  width: 100%;
}

/**
 * Meta box update
 */
/* line 278, ../sass/admin.scss */
#pronamic_payment_update .inside,
#pronamic_subscription_update .inside {
  margin: 0;
  padding: 0;
}

/* line 284, ../sass/admin.scss */
.pronamic-pay-inner {
  margin: 6px 0 0 0;
  padding: 0 12px 12px;
}

/* line 289, ../sass/admin.scss */
.pronamic-pay-major-actions {
  background: #F5F5F5;
  border-top: 1px solid #DDD;
  padding: 10px;
}

/* line 297, ../sass/admin.scss */
.pronamic-pay-action {
  float: right;
  text-align: right;
}

/**
 * iDEAL
 */
/* line 306, ../sass/admin.scss */
pre.security-data {
  background-color: #EEE;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #DFDFDF;
  height: 10em;
  width: 40em;
  overflow: auto;
}

/**
 * Documentation
 */
/* line 321, ../sass/admin.scss */
.pronamic-pay-table tr.deprecated td,
.pronamic-pay-table tr.deprecated a {
  color: #AAAAAA;
}

/**
 * Charts
 */
/* line 329, ../sass/admin.scss */
.postbox .pronamic-pay-chart-with-sidebar {
  padding: 12px 12px 12px 249px;
}

/* line 335, ../sass/admin.scss */
.pronamic-pay-chart-sidebar {
  float: left;
  margin-left: -237px;
  width: 225px;
}

/* line 343, ../sass/admin.scss */
.pronamci-pay-chart-legend {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  border: 1px solid #dfdfdf;
  border-right-width: 0;
  border-bottom-width: 0;
  background: #FFF;
}

/* line 356, ../sass/admin.scss */
.pronamci-pay-chart-legend li {
  border-right: 5px solid #AAA;
  box-shadow: inset 0 -1px 0 0 #dfdfdf;
  color: #AAA;
  display: block;
  padding: 1em;
  margin: 0;
  transition: all ease .5s;
}

/* line 371, ../sass/admin.scss */
.pronamci-pay-chart-legend li:hover {
  box-shadow: inset 0 -1px 0 0 #DFDFDF, inset 300px 0 0 rgba(35, 40, 47, 0.1);
  border-right: 5px solid #23282F !important;
  padding-left: 1.5em;
}

/* line 379, ../sass/admin.scss */
.pronamci-pay-chart-legend strong {
  color: #464646;
  display: block;
  font-size: 1.618em;
  line-height: 1.2em;
  font-weight: 400;
}

/* line 391, ../sass/admin.scss */
.pronamic-pay-chart-tooltip {
  background: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  padding: .618em 1em;
  position: absolute;
  text-align: center;
}

/**
 * Error
 */
/* line 414, ../sass/admin.scss */
.pronamic-pay-error {
  background: #F9F9F9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  border-left: 4px solid #a00;
  clear: both;
  margin: 15px 0;
  position: relative;
  padding: 1em 1em 1em 2em;
}

/* line 430, ../sass/admin.scss */
#_pronamic_gateway_ideal_private_key,
#_pronamic_gateway_ideal_private_certificate {
  width: 100%;
}

/**
 * Tabs
 */
/* line 438, ../sass/admin.scss */
.pronamic-pay-tabs-items {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  float: left;
  margin: 3px 0 0 0;
  width: 100%;
}
/* line 449, ../sass/admin.scss */
.pronamic-pay-tabs-items li {
  background: #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  color: #444;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 5px -1px 0;
  padding: 8px 15px;
}
/* line 466, ../sass/admin.scss */
.pronamic-pay-tabs-items li.active {
  background: #FFF;
  border-top: 3px solid #C06;
  margin-top: -3px;
}

/* line 475, ../sass/admin.scss */
div.extra-settings {
  display: none;
}

/* line 479, ../sass/admin.scss */
div.pronamic-pay-tab,
div.extra-settings {
  border: 1px solid #e5e5e5;
  border-top: none;
  clear: both;
}
/* line 486, ../sass/admin.scss */
div.pronamic-pay-tab > div,
div.extra-settings > div {
  font-style: italic;
  padding: 20px 10px;
}
/* line 492, ../sass/admin.scss */
div.pronamic-pay-tab .gateway-config-section-header h4,
div.pronamic-pay-tab .show-provider,
div.extra-settings .gateway-config-section-header h4,
div.extra-settings .show-provider {
  display: none;
}
/* line 497, ../sass/admin.scss */
div.pronamic-pay-tab .form-table,
div.extra-settings .form-table {
  margin-top: 0;
}
/* line 500, ../sass/admin.scss */
div.pronamic-pay-tab .form-table tr.even,
div.extra-settings .form-table tr.even {
  background: #f9f9f9;
}
/* line 504, ../sass/admin.scss */
div.pronamic-pay-tab .form-table th,
div.extra-settings .form-table th {
  padding-left: 10px;
}
/* line 509, ../sass/admin.scss */
div.pronamic-pay-tab .form-table td p,
div.extra-settings .form-table td p {
  line-height: inherit;
}
/* line 513, ../sass/admin.scss */
div.pronamic-pay-tab .form-table td p:first-child,
div.extra-settings .form-table td p:first-child {
  margin-top: 5px;
}
/* line 519, ../sass/admin.scss */
div.pronamic-pay-tab .input-file-wrapper,
div.extra-settings .input-file-wrapper {
  position: relative;
  overflow: hidden;
}
/* line 524, ../sass/admin.scss */
div.pronamic-pay-tab .input-file-wrapper input[type="file"],
div.extra-settings .input-file-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 50px;
  cursor: pointer;
}
/* line 536, ../sass/admin.scss */
div.pronamic-pay-tab p + input.button,
div.pronamic-pay-tab .pk-cert-ok input.button,
div.pronamic-pay-tab input.large-text.code + input.button,
div.extra-settings p + input.button,
div.extra-settings .pk-cert-ok input.button,
div.extra-settings input.large-text.code + input.button {
  margin-top: 10px;
}
/* line 541, ../sass/admin.scss */
div.pronamic-pay-tab p + input.button + div.button,
div.pronamic-pay-tab .pk-cert-ok input.button + div.button,
div.pronamic-pay-tab input.large-text.code + input.button + div.button,
div.extra-settings p + input.button + div.button,
div.extra-settings .pk-cert-ok input.button + div.button,
div.extra-settings input.large-text.code + input.button + div.button {
  margin-top: 10px;
}
/* line 546, ../sass/admin.scss */
div.pronamic-pay-tab div + span.description,
div.pronamic-pay-tab input:not([type="hidden"]) + span.description,
div.extra-settings div + span.description,
div.extra-settings input:not([type="hidden"]) + span.description {
  display: block;
  line-height: 1.9;
  margin-top: 10px;
}

/* line 554, ../sass/admin.scss */
#pk-cert-fields-toggle {
  display: inline-block;
  margin: 1em;
}

/* line 559, ../sass/admin.scss */
#_pronamic_gateway_country + span.description {
  display: inline;
  margin-left: 10px;
}

/* Hide download buttons for new configuration */
/* line 566, ../sass/admin.scss */
body.post-new-php div.extra-settings input[name="download_private_key"],
body.post-new-php div.extra-settings input[name="download_private_certificate"] {
  display: none;
}
/* line 571, ../sass/admin.scss */
body.post-new-php div.extra-settings .pk-cert-error > span {
  display: none;
}

/* line 576, ../sass/admin.scss */
.pronamic-pay-tip {
  float: right;
  color: #777;
  cursor: help;
}

/* line 585, ../sass/admin.scss */
#tiptip_content {
  background: #333;
  border: none;
  box-shadow: none;
}

/* line 592, ../sass/admin.scss */
#pronamic-pay-gateway-description {
  margin-top: 10px;
  font-size: .9em;
}

/* line 597, ../sass/admin.scss */
#debug-selected-method {
  float: none;
}

/* line 602, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons {
  vertical-align: text-bottom;
}
/* line 605, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-yes {
  color: green;
}
/* line 609, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-no {
  color: red;
}
/* line 613, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-warning {
  color: orange;
}

@media only screen and (max-width: 960px) {
  /* line 620, ../sass/admin.scss */
  .pronamic-pay-tabs-items {
    display: none;
  }

  /* line 624, ../sass/admin.scss */
  div.pronamic-pay-tab,
  div.pronamic-pay-tab .form-table {
    border: none;
  }
}
@media only screen and (max-width: 782px) {
  /* line 632, ../sass/admin.scss */
  div.pronamic-pay-tab .form-table th, div.pronamic-pay-tab .form-table td {
    padding: 11px;
  }
}
