@charset "UTF-8";
/* Icons */
/* line 1, ../sass/admin/_forms.scss */
.pronamic-pay-form-control + .pronamic-pay-form-text {
  display: block;
  line-height: 1.9;
  margin-top: 10px;
}

/* line 9, ../sass/admin/_forms.scss */
.pronamic-pay-form-control-lg {
  width: 100%;
}

/* line 5, ../sass/admin/_dashboard-widget-payments.scss */
.postbox .inside .pronamic-pay-status-widget {
  margin: -12px;
}

/* line 11, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 16, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li {
  box-sizing: border-box;
  border-top: 1px solid #eee;
  color: #aaa;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}
/* line 30, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a {
  color: #aaa;
  display: block;
  font-size: 12px;
  padding: 9px 12px;
  position: relative;
  transition: color ease .5s;
}
/* line 43, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a strong {
  color: #21759b;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}
/* line 54, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a:hover {
  color: #2ea2cc;
}
/* line 57, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li a:hover::before,
.pronamic-pay-status-list li a:hover strong {
  color: #2ea2cc;
}
/* line 64, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li:first-child {
  border-top: 0;
  width: 100%;
}
/* line 70, ../sass/admin/_dashboard-widget-payments.scss */
.pronamic-pay-status-list li:nth-child(even) {
  border-right: 1px solid #eee;
}

/* line 3, ../sass/admin/_chart.scss */
.postbox .pronamic-pay-chart-with-sidebar {
  padding: 12px 12px 12px 249px;
}

/* line 8, ../sass/admin/_chart.scss */
.pronamic-pay-chart-sidebar {
  float: left;
  margin-left: -237px;
  width: 225px;
}

/* line 16, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend {
  background: #fff;
  border: 1px solid #dfdfdf;
  border-right-width: 0;
  border-bottom-width: 0;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
/* line 28, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend li {
  border-right: 5px solid #aaa;
  box-shadow: inset 0 -1px 0 0 #dfdfdf;
  color: #aaa;
  display: block;
  margin: 0;
  padding: 1em;
  transition: all ease .5s;
}
/* line 42, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend li:hover {
  border-right: 5px solid #23282f !important;
  box-shadow: inset 0 -1px 0 0 #dfdfdf, inset 300px 0 0 rgba(35, 40, 47, 0.1);
  padding-left: 1.5em;
}
/* line 51, ../sass/admin/_chart.scss */
.pronamci-pay-chart-legend strong {
  color: #464646;
  display: block;
  font-size: 1.618em;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 63, ../sass/admin/_chart.scss */
.pronamic-pay-chart-tooltip {
  background: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  padding: .618em 1em;
  position: absolute;
  text-align: center;
}

/* line 3, ../sass/admin/_tables.scss */
.pronamic-pay-table thead th {
  font-weight: bold;
}

/* line 2, ../sass/admin/_tabs.scss */
.pronamic-pay-tabs-items {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  float: left;
  margin: 3px 0 0;
  width: 100%;
}
/* line 13, ../sass/admin/_tabs.scss */
.pronamic-pay-tabs-items li {
  background: #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 5px -1px 0;
  padding: 8px 15px;
}
/* line 28, ../sass/admin/_tabs.scss */
.pronamic-pay-tabs-items li.active {
  background: #fff;
  border-top: 3px solid #008ec2;
  margin-top: -3px;
}

@media only screen and (max-width: 960px) {
  /* line 39, ../sass/admin/_tabs.scss */
  .pronamic-pay-tabs-items {
    display: none;
  }

  /* line 43, ../sass/admin/_tabs.scss */
  .pronamic-pay-tab {
    border: 0;
  }
  /* line 46, ../sass/admin/_tabs.scss */
  .pronamic-pay-tab .form-table {
    border: 0;
  }
}
@media only screen and (max-width: 782px) {
  /* line 55, ../sass/admin/_tabs.scss */
  .pronamic-pay-tab .form-table th,
  .pronamic-pay-tab .form-table td {
    padding: 11px;
  }
}
/* line 1, ../sass/admin/_tip.scss */
.pronamic-pay-tip {
  color: #777;
  cursor: help;
  float: right;
}

/* line 10, ../sass/admin/_tip.scss */
#tiptip_content {
  background: #333;
  border: 0;
  box-shadow: none;
}

/* line 6, ../sass/admin/_code.scss */
pre.security-data {
  background-color: #eee;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  height: 10em;
  width: 40em;
  overflow: auto;
}

/* line 14, ../sass/admin.scss */
.pronamic-pay-status-table {
  margin-top: 2em;
}
/* line 19, ../sass/admin.scss */
.pronamic-pay-status-table tbody th:first-child {
  width: 20%;
}

/* line 28, ../sass/admin.scss */
.pronamic-pay-subscriptions-table {
  border-spacing: 0;
  clear: both;
  margin: 0;
  width: 100%;
}
/* line 38, ../sass/admin.scss */
.pronamic-pay-subscriptions-table thead th {
  border-bottom: 1px solid #e1e1e1;
}
/* line 43, ../sass/admin.scss */
.pronamic-pay-subscriptions-table th,
.pronamic-pay-subscriptions-table td {
  padding: 8px 10px;
}
/* line 48, ../sass/admin.scss */
.pronamic-pay-subscriptions-table th {
  text-align: left;
}

/* line 56, ../sass/admin.scss */
.widefat .column-pronamic_payment_status,
.widefat .column-pronamic_subscription_status,
.widefat .column-pronamic_payment_subscription {
  width: 1em;
}

/* line 63, ../sass/admin.scss */
.pronamic-pay-status {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 1em;
  height: 1em;
}
/* line 73, ../sass/admin.scss */
.pronamic-pay-status::after {
  content: "";
  display: block;
  font-family: 'Pronamic Pay Icons';
  position: absolute;
  top: 0;
  left: 0;
  speak: none;
  text-indent: 0;
  width: 100%;
  height: 100%;
}

/* line 94, ../sass/admin.scss */
.pronamic-pay-status-publish::after {
  content: "";
}

/* line 101, ../sass/admin.scss */
.pronamic-pay-status-payment_pending::after,
.pronamic-pay-status-subscr_pending::after {
  color: #ffba00;
  content: "";
}

/* line 109, ../sass/admin.scss */
.pronamic-pay-status-payment_cancelled::after,
.pronamic-pay-status-subscr_cancelled::after {
  color: #a00;
  content: "";
}

/* line 116, ../sass/admin.scss */
.pronamic-pay-status-payment_processing::after {
  color: #73a724;
  content: "";
}

/* line 125, ../sass/admin.scss */
.pronamic-pay-status-payment_completed::after,
.pronamic-pay-status-subscr_active::after,
.pronamic-pay-status-subscr_completed::after {
  color: #2ea2cc;
  content: "";
}

/* line 132, ../sass/admin.scss */
.pronamic-pay-status-payment_refunded::after {
  color: #999;
  content: "";
}

/* line 140, ../sass/admin.scss */
.pronamic-pay-status-payment_failed::after,
.pronamic-pay-status-subscr_failed::after {
  color: #d0c21f;
  content: "";
}

/* line 147, ../sass/admin.scss */
.pronamic-pay-status-payment_on_hold::after {
  color: #999;
  content: "";
}

/* line 155, ../sass/admin.scss */
.pronamic-pay-status-payment_expired::after,
.pronamic-pay-status-subscr_expired::after {
  color: #999;
  content: "";
}

/* line 162, ../sass/admin.scss */
.pronamic-pay-recurring {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 1em;
  height: 1em;
}
/* line 172, ../sass/admin.scss */
.pronamic-pay-recurring::after {
  color: #999;
  content: "";
  display: block;
  font-family: 'Pronamic Pay Icons';
  position: absolute;
  top: 0;
  left: 0;
  speak: none;
  text-indent: 0;
  width: 100%;
  height: 100%;
}

/* line 195, ../sass/admin.scss */
.pronamic-pay-recurring-first::after {
  color: #2ea2cc;
}

/* line 203, ../sass/admin.scss */
.pronamic-pay-settings select {
  width: 25em;
}

/* line 207, ../sass/admin.scss */
#pronamic_pay_create_pages {
  margin-top: 1em;
}

/* line 213, ../sass/admin.scss */
#pronamic_gateway_config option.deprecated {
  color: #aaa;
}
/* line 218, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header h4 {
  margin: 0;
}
/* line 222, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header p {
  margin: 0 0 1em;
}
/* line 225, ../sass/admin.scss */
#pronamic_gateway_config .gateway-config-section-header p:last-child {
  margin-bottom: 0;
}

/* line 234, ../sass/admin.scss */
#pronamic_gateway_test .inside > label,
#pronamic_gateway_test .inside div label {
  display: block;
}
/* line 239, ../sass/admin.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method td label {
  display: none;
}
/* line 243, ../sass/admin.scss */
#pronamic_gateway_test .pronamic-pay-test-payment-method {
  display: none;
}

/* line 249, ../sass/admin.scss */
#pronamic_payment_log.postbox .inside {
  margin: 0;
  padding: 0;
}

/* line 254, ../sass/admin.scss */
#pronamic_payment_log .comments-box {
  border: 0 none;
}

/* line 261, ../sass/admin.scss */
body.post-type-pronamic_payment #post-body-content,
body.post-type-pronamic_pay_subscr #post-body-content {
  margin-bottom: 0;
}

/* line 267, ../sass/admin.scss */
.pronamic-pay-shortcode-input {
  width: 100%;
}

/* line 272, ../sass/admin.scss */
#pronamic_payment_update .inside,
#pronamic_subscription_update .inside {
  margin: 0;
  padding: 0;
}

/* line 278, ../sass/admin.scss */
.pronamic-pay-inner {
  margin: 6px 0 0 0;
  padding: 0 12px 12px;
}

/* line 283, ../sass/admin.scss */
.pronamic-pay-major-actions {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 10px;
}

/* line 291, ../sass/admin.scss */
.pronamic-pay-action {
  float: right;
  text-align: right;
}

/* line 300, ../sass/admin.scss */
.pronamic-pay-table tr.deprecated td,
.pronamic-pay-table tr.deprecated a {
  color: #aaa;
}

/* line 308, ../sass/admin.scss */
.pronamic-pay-error {
  background: #F9F9F9;
  border-left: 4px solid #a00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  clear: both;
  margin: 15px 0;
  padding: 1em 1em 1em 2em;
  position: relative;
}

/* line 323, ../sass/admin.scss */
div.extra-settings {
  display: none;
}

/* line 327, ../sass/admin.scss */
div.pronamic-pay-tab,
div.extra-settings {
  border: 1px solid #e5e5e5;
  border-top: 0;
  clear: both;
}
/* line 334, ../sass/admin.scss */
div.pronamic-pay-tab > div,
div.extra-settings > div {
  font-style: italic;
  padding: 20px 10px;
}
/* line 340, ../sass/admin.scss */
div.pronamic-pay-tab .gateway-config-section-header h4,
div.pronamic-pay-tab .show-provider,
div.extra-settings .gateway-config-section-header h4,
div.extra-settings .show-provider {
  display: none;
}
/* line 345, ../sass/admin.scss */
div.pronamic-pay-tab .form-table,
div.extra-settings .form-table {
  margin-top: 0;
}
/* line 348, ../sass/admin.scss */
div.pronamic-pay-tab .form-table tr.even,
div.extra-settings .form-table tr.even {
  background: #f9f9f9;
}
/* line 352, ../sass/admin.scss */
div.pronamic-pay-tab .form-table th,
div.extra-settings .form-table th {
  padding-left: 10px;
}
/* line 357, ../sass/admin.scss */
div.pronamic-pay-tab .form-table td p,
div.extra-settings .form-table td p {
  line-height: inherit;
}
/* line 360, ../sass/admin.scss */
div.pronamic-pay-tab .form-table td p:first-child,
div.extra-settings .form-table td p:first-child {
  margin-top: 5px;
}
/* line 367, ../sass/admin.scss */
div.pronamic-pay-tab .input-file-wrapper,
div.extra-settings .input-file-wrapper {
  overflow: hidden;
  position: relative;
}
/* line 372, ../sass/admin.scss */
div.pronamic-pay-tab .input-file-wrapper input[type='file'],
div.extra-settings .input-file-wrapper input[type='file'] {
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
/* line 385, ../sass/admin.scss */
div.pronamic-pay-tab p + input.button,
div.pronamic-pay-tab .pk-cert-ok input.button,
div.pronamic-pay-tab input.large-text.code + input.button,
div.extra-settings p + input.button,
div.extra-settings .pk-cert-ok input.button,
div.extra-settings input.large-text.code + input.button {
  margin-top: 10px;
}
/* line 390, ../sass/admin.scss */
div.pronamic-pay-tab p + input.button + div.button,
div.pronamic-pay-tab .pk-cert-ok input.button + div.button,
div.pronamic-pay-tab input.large-text.code + input.button + div.button,
div.extra-settings p + input.button + div.button,
div.extra-settings .pk-cert-ok input.button + div.button,
div.extra-settings input.large-text.code + input.button + div.button {
  margin-top: 10px;
}
/* line 395, ../sass/admin.scss */
div.pronamic-pay-tab span.description,
div.extra-settings span.description {
  line-height: 1.9;
}

/* line 400, ../sass/admin.scss */
#pk-cert-fields-toggle {
  display: inline-block;
  margin: 1em;
}

/* line 406, ../sass/admin.scss */
#_pronamic_gateway_country + span.description {
  display: inline;
  margin-left: 10px;
}

/* line 415, ../sass/admin.scss */
body.post-new-php div.extra-settings input [name='download_private_key'],
body.post-new-php div.extra-settings input [name='download_private_certificate'] {
  display: none;
}
/* line 421, ../sass/admin.scss */
body.post-new-php div.extra-settings .pk-cert-error > span {
  display: none;
}

/* line 426, ../sass/admin.scss */
#pronamic-pay-gateway-description {
  font-size: .9em;
  margin-top: 10px;
}

/* line 433, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons {
  vertical-align: text-bottom;
}
/* line 436, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-yes {
  color: #008000;
}
/* line 440, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-no {
  color: #f00;
}
/* line 444, ../sass/admin.scss */
#pronamic-pay-gateway-config-editor .dashicons.dashicons-warning {
  color: #ffa500;
}
