/**
 * Pointers
 */
/* line 5, ../sass/admin-tour.scss */
.pp-pointer-buttons .button,
.pp-pointer-buttons .button-primary,
.pp-pointer-buttons .button-secondary {
  margin-right: 10px;
}
/* line 10, ../sass/admin-tour.scss */
.pp-pointer-buttons .button:last-child,
.pp-pointer-buttons .button-primary:last-child,
.pp-pointer-buttons .button-secondary:last-child {
  margin-right: 0;
}

/* line 16, ../sass/admin-tour.scss */
.pp-pointer-buttons a {
  float: none;
}

/* line 20, ../sass/admin-tour.scss */
.pp-pointer-buttons-right {
  float: right;
}
