#icon-pronamic_ideal,
#icon-gf_edit_forms {
	background: url("../../images/icon-32x32.png") no-repeat;	
}

td.column-version {
	width: 5em;
}

.pronamic-pay-status-table tbody th:first-child {
	width: 20%;
}

/**
 * Gateway config postbox
 */
#pronamic_gateway_config option.deprecated {
	color: #AAA;
}

/**
 * Payment log postbox
 */
#pronamic_payment_log.postbox .inside {
	margin: 0;
	padding: 0;
}

#pronamic_payment_log .comments-box {
	border: 0 none;
}

/**
 * iDEAL
 */
pre.security-data {
	background-color: #EEE;

	-moz-border-radius: 3px 3px 3px 3px;
	border: 1px solid #DFDFDF;

	height: 10em;
	width: 40em;

	overflow: auto;
}

/**
 * Documentation
 */
body.ideal_page_pronamic_ideal_documentation tr.deprecated td,
body.ideal_page_pronamic_ideal_documentation tr.deprecated a {
	color: #AAAAAA;
}

/**
 * Gravity Forms notifications
 */
.pronamic-pay-gf-notifications {
	margin-left: 28px;
}

.pronamic-pay-gf-notifications ul {
	margin: 0;	
}

.pronamic-pay-gf-notifications li {
	margin: 0;	
}

/**
 * Gravity Forms editor
 */
.gforms_edit_form .ginput_ideal {
	background: url("../../images/icon-16x16.png") no-repeat left center;

	padding-left: 20px;
}

.gforms_edit_form .ideal-edit-link {
	background: url("../../images/icon-16x16.png") no-repeat;

	display: none;

	float: right;

	font-size: 10px;

	height: 16px;

	line-height: 16px;

	padding: 0 0 0 18px;

	text-decoration: none;
}

.gforms_edit_form .field_hover .ideal-edit-link ,
.gforms_edit_form .field_selected .ideal-edit-link {
	display: block;
}

/* Add iDEAL fields */
#add_ideal_fields .button {
	/* The default Gravity Forms button width is to small */
	width: 10em;
}